extends layout
include mixins/mixins

block content
    form(method='GET' action='/bank-transaction')
        table.center
            tr
                td From Date:
                td
                    input#tbankfromDate.form-control(type='date', name='tbankfromDate', value=fromDate max=currentDate format="dd/mm/yyyy" required)
                td &nbsp;
                td To Date:
                td
                    input#tbanktoDate.form-control(type='date', name='tbanktoDate', value=toDate max=currentDate format="dd/mm/yyyy" required)
                td &nbsp;
                td Bank Name
                td 
                     select.form-control(name= 'bank_id'  id='bank_id')
                        if accountList
                            option(value=0) All
                            each val in accountList
                                option(value=`${val.bank_id}` selected=(val.bank_id == bankId))= val.nickname
                td &nbsp;
                td
                    button.btn.btn-primary(type='submit') Go
    br
    form(method='POST' action='/bank-transaction')
        input(type='hidden' id='tbank_fromDate_hiddenValue' name='tbank_fromDate_hiddenValue' value=fromDate)
        input(type='hidden' id='tbank_toDate_hiddenValue' name='tbank_toDate_hiddenValue' value=toDate)   
        div 
            div.col-16
                div.table-responsive
                    table.table#banktransaction-table
                        tbody.w-100
                            thead.thead-light
                                tr
                                    th(scope="col") Transaction Date
                                    th(scope="col") Account Number
                                    th(scope="col") Transaction Type
                                    th(scope="col") Accounting Type
                                    th(scope="col") Debit Amount
                                    th(scope="col") Credit Amount
                                    th(scope="col") Closing Balance
                                    th(scope="col") Remarks
                                    th(scope="col") Delete
                                tbody
                                    - var prefix = 'tl_';
                                    if transactionList && transactionList.length > 0
                                        each val, index in transactionList
                                            tr(id="banktransaction_row_"+index)
                                                td
                                                    span=val.trans_date
                                                td
                                                    if accountList
                                                        each data in accountList
                                                            if (val.bank_id === data.bank_id)
                                                                span= data.nickname
                                                td
                                                    if TxnTypes
                                                        each data in TxnTypes
                                                            if(data.id === val.transaction_type)
                                                                span=data.txntype
                                                td
                                                    span=val.accounting_type
                                                td
                                                    span=val.debit_amount
                                                td 
                                                    span=val.credit_amount
                                                td
                                                    span=val.closing_balance
                                                td
                                                    span=val.remarks
                                                if(val.closed_flag == 'N')
                                                    td(scope="row")
                                                        div(class="row flex-nowrap")
                                                            a.btn.btn-danger(id="transaction-delete-" + index onclick="deleteTransaction('banktransaction_row_"+ index+"','" + val.t_bank_id + "')")
                                                                span.oi.oi-trash
                                - var rowCnt = 0
                                while rowCnt < 1
                                    +addTxnAccount(rowCnt++)
                                    
            div(align="center")
                button.btn.btn-info(type="button", id="banktransaction-add-new" onClick="showMasterEntryRow(this, 'banktransaction')" title="Only one can be added at a time.") Add New
                span &nbsp;&nbsp;&nbsp;&nbsp;
                button.btn.btn-primary(type="submit", id="banktransaction-save" disabled=true, title="Enabled on 'Add New'" onClick="validCreditDebit()") Save