extends layout
include mixins/mixins
include mixins/new-closing-mixins

block content
    - const maxCashFlowRows = config.maxCashFlowRowsCnt;
    - const creditPrefix = 'cashflow-credit-';
    - const debitPrefix = 'cashflow-debit-';
    - var denominationValuesJson = config.cashFlowDenominationValuesJson;
    - let divClass = "";
    if(cashFlowStatus == 'CLOSED')
        - divClass = 'disabledInputs';
    input(type='hidden' id='cashflowId_hiddenId' value=cashflowId)
    input(type='hidden' id='user' value=user)
    input(type='hidden' id='denominationValuesJson_hiddenValue' value= denominationValuesJson)
    
    //- NEW: Shift Closings Summary Table
    if shiftClosings && shiftClosings.length > 0
        div.row.mb-4
            div.col-12
                div.card
                    div.card-header.text-white.bg-dark Cashier Shifts Contributing to this Cash Flow
                    div.card-body
                        div.table-responsive
                            table.table
                                thead.thead-light
                                    tr
                                        th.text-center Closing ID
                                        th.text-center Closing Date
                                        th.text-center Cashier Name
                                        th.text-center Total Collection
                                        th.text-center Status
                                        th.text-center Notes
                                tbody
                                    - var totalCollectionSum = 0;
                                    each closing in shiftClosings
                                        tr
                                            td.text-center= closing.closing_id
                                            td.text-center= new Date(closing.closing_date).toLocaleDateString('en-IN')
                                            td.text-center= closing.cashier_name || 'N/A'
                                            td.text-right ₹ #{parseFloat(closing.total_collection || 0).toFixed(2)}
                                            td.text-center
                                                if closing.status === 'CLOSED'
                                                    span.badge.badge-success #{closing.status}
                                                else if closing.status === 'DRAFT'
                                                    span.badge.badge-warning #{closing.status}
                                                else
                                                    span.badge.badge-secondary #{closing.status}
                                            td.text-center= closing.notes || '-'
                                        - totalCollectionSum += parseFloat(closing.total_collection || 0);
                                //- Summary Row
                                tr.bg-info.text-white.font-weight-bold
                                    td.text-center(colspan="3") 
                                        strong TOTAL (#{shiftClosings.length} shifts)
                                    td.text-right
                                        strong ₹ #{totalCollectionSum.toFixed(2)}
                                    td(colspan="2") &nbsp;
    else
        //- No closings found message
        div.row.mb-4
            div.col-12
                div.alert.alert-warning.text-center
                    i.fa.fa-info-circle
                    |  No Cashier Shifts found for this cash flow period.

    div
    //- EXISTING: Credit/Debit Tables (unchanged)
    div.row#cashflow-txn-data(class=divClass)
        div.col-6
            div.card
                div.card-header.text-white.bg-dark OutFlow
                div.card-body
                    table.table(id= debitPrefix + "table")
                        tbody.thead-light
                            +addCashFlowHeader()
                            - var rowCnt = 0
                            if cashFlowDebits && cashFlowDebits.length > 0
                                each val, index in cashFlowDebits
                                    +addCashFlowEntry(val, config.cashSaleTypes[1], debitPrefix, rowCnt++)

                            while rowCnt < maxCashFlowRows
                                +newCashFlowEntry(config.cashSaleTypes[1], debitPrefix, rowCnt++)
                            tr
                                td &nbsp;
                                td(style="text-align:right") Total
                                td
                                    input.form-control#cashflow-debit-total(readonly)
                    div
                        a.btn.btn-primary(id='debit-add-new' onclick='showAddedRow(\'cashflow-debit\')')
                            span.oi.oi-plus
        div.col-6
            div.card
                div.card-header.text-white.bg-dark InFlow
                div.card-body
                    table.table(id=creditPrefix+"table")
                        thead.thead-light
                            +addCashFlowHeader()
                            - var rowCnt = 0
                            if cashFlowCredits && cashFlowCredits.length > 0
                                each val,index in cashFlowCredits
                                    +addCashFlowEntry(val, config.cashSaleTypes[0], creditPrefix, rowCnt++)

                            while rowCnt < maxCashFlowRows
                                +newCashFlowEntry(config.cashSaleTypes[0], creditPrefix, rowCnt++)
                            tr
                                td &nbsp;
                                td(style="text-align:right") Total
                                td
                                    input.form-control#cashflow-credit-total(readonly)
                    div
                        a.btn.btn-primary(id='credit-add-new' onclick='showAddedRow(\'cashflow-credit\')')
                            span.oi.oi-plus
    div &nbsp;
    div.row(class=divClass)
        div.col-4
        div.col-4
            div.card
                div.card-header.text-white.bg-dark Denominations
                div.card-body
                    div.table-responsive
                        table.table#denom-table
                            tbody
                                +addDenomRows(cashFlowDenoms)
                                tr
                                    td.text-right Total
                                    td
                                        input.form-control#denominations_total(type='text' name='denominations_total' readonly value='0')

    div.row
        div &nbsp;
    div(style="text-align:center")
        if(cashFlowStatus != 'CLOSED')
            span
                button.btn.btn-primary(type="button", onClick="saveCashFlowTxnsAndDenoms()") SAVE
            span &nbsp;
            span
                button.btn.btn-dark(id='cashflow-close' disabled=true onClick='finishClosing(\'cashflowId\',\'close-cashflow\',\'cashflowhome\')') CLOSE &raquo;

