extends layout
include mixins/mixins

block content
    form(method='POST' action='/credits')
        table(class="table" id="credit-master-table")
            thead(class="thead-light")
                tr
                    th(scope="col") #
                    th(scope="col") Company Name
                    th(scope="col") Type
                    th(scope="col") Short Name
                    th(scope="col") Address
                    th(scope="col") Phone Number
                    th(scope="col") GST Number                    
                    th(scope="col") Vehicles
                    th(scope="col") Disable Credit                    
            tbody
                each val, index in credits
                    tr(id='credit-' + index)
                        th(scope="row")= index + 1
                        td
                            span(title="Username: " + val.username + ", Password: " + val.password) #{val.name}
                        td= val.type
                        td= val.short_name
                        td= val.address
                        td= val.phoneno
                        td= val.gst                                                
                        td
                            button.btn.btn-info(onclick=`viewVehicles('${val.id}')`)
                                span.oi.oi-eye
                        td
                            div.align-items-start
                                button.btn.btn-info(id="disable-credit-"+index, onclick="disableCredit('"+index+"', '"+ val.id +"')")
                                    span.oi.oi-delete
                - var rowCnt = 0
                while rowCnt < 1
                    +addMasterCredit(rowCnt++)
        div(align="center")
            button.btn.btn-primary(type="button", onClick="window.location.href='/enable_credit'", id="enable-user", title="Enable User") Enable Credit
            span &nbsp;&nbsp;&nbsp;&nbsp;
            button.btn.btn-info(type="button", onClick="showMasterEntryRow(this, 'credit-master')", id='credit-master-add-new') Add New
            span &nbsp;&nbsp;&nbsp;&nbsp;
            button.btn.btn-primary(type="submit", id='credit-master-save', disabled=true) Save
    script.
        function viewVehicles(creditlistId) {
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '/vehicles/get';
            form.style.display = 'none';
            
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'creditlist_id';
            input.value = creditlistId;
            
            form.appendChild(input);
            document.body.appendChild(form);
            form.submit();
        }