extends layout
include mixins/mixins

block content
    form(method='POST' action='/credits')
        table(class="table" id="credit-master-table")
            thead(class="thead-light")
                tr
                    th(scope="col") #
                    th(scope="col") Company Name
                    th(scope="col") Type
                    th(scope="col") Short Name
                    th(scope="col") Address
                    th(scope="col") Phone Number
                    th(scope="col") GST Number
                    th(scope="col") Balance
                    th(scope="col")
                tbody
                    each val, index in credits
                        tr
                            th(scope="row")= index + 1
                            td(scope="row")= val.name
                            td(scope="row")= val.type
                            td(scope="row")= val.short_name
                            td(scope="row")= val.address
                            td(scope="row")= val.phoneno
                            td(scope="row")= val.gst
                            - var balance = val.balance.toLocaleString('en', {minimumFractionDigits: minFixedValue});
                            td(scope="row") Rs. #{balance}
                            td(scope="row")

                    - var rowCnt = 0
                    while rowCnt < 1
                        +addMasterCredit(rowCnt++)
        div(align="center")
            button.btn.btn-info(type="button", onClick="showMasterEntryRow(this, 'credit-master')", id='credit-master-add-new') Add New
            span &nbsp;&nbsp;&nbsp;&nbsp;
            button.btn.btn-primary(type="submit", id='credit-master-save', disabled=true) Save
