extends layout
include mixins/mixins

block content
    form(method='POST' action='/deadline')
        table(class="table" id="deadline-master-table")
            thead(class="thead-light")
                tr
                    th(scope="col") #
                    th(scope="col") Date
                    th(scope="col") Purpose
                    th(scope="col") Warning Day
                    th(scope="col") HardStop
                    th(scope="col") Closed
                    th(scope="col") Comments
                    th(scope="col") Edit
                tbody
                    each val, index in deadlinesList
                        tr
                            th(scope="row")= index + 1
                            td(scope="row")
                                input.form-control(type='date', id='deadline-date-'+index value=val.deadlineDate format="dd/mm/yyyy" readonly)
                            td(scope="row")
                                select.form-control(id="purpose-"+index, disabled=true)
                                    if  deadlineTypes
                                        each deadline in deadlineTypes
                                            option(value=`${deadline.id}` selected=(val.purpose === deadline.id))= deadline.type
                            td(scope="row")
                                input.form-control(type="number" id="warning-day-"+index value=val.warningDay readonly)
                            td(scope="row")
                                input.form-control(type="checkbox", id="hard-stop-"+index,  checked=('Y'===val.hardStop) value=val.hardStop onClick="changeCheckValue('hard-stop-',"+index+")" disabled=true)
                            td(scope="row")
                                input.form-control(type="checkbox", id="closed-"+index, checked=('Y'===val.closed) value=val.closed onClick="changeClosedValue('closed-',"+index+")" disabled=true)
                            td(scope="row")
                                textarea.form-control(id="comments-"+index style="height:36px" readonly)=val.comment
                            td(scope="row")
                                div.row
                                    a.btn.btn-info(id="deadline-edit-"+index onclick="editDeadline('"+index+"','"+ val.deadlineId +"')")
                                        span.oi.oi-pencil
                                    a.btn-info.d-md-none(id="deadline-save-"+index onClick="saveDeadline('"+ index+"','"+ val.deadlineId +"')") Save
                    - var rowCnt = 0
                    while rowCnt < 1
                        +addMasterDeadline(rowCnt++)
        div(align="center")
            button.btn.btn-info(type="button", onClick="showMasterEntryRow(this, 'deadline-master')", id='deadline-master-add-new') Add New
            span &nbsp;&nbsp;&nbsp;&nbsp;
            button.btn.btn-primary(type="submit", id='deadline-master-save', disabled=true) Save