extends layout
include mixins/new-closing-mixins
include mixins/summary-mixins

block content
    - var maxCreditsRowCnt = config.maxCreditsRowCnt;
    - var maxCashSalesRowCnt = config.maxCashSalesRowCnt;
    - var maxExpensesRowCnt = config.maxExpensesRowCnt;
    - var currency = config.currency;
    - var denominationValues = config.denominationValues;
    - var denominationValuesJson = config.denominationValuesJson;
 
    //- Freeze closing record
    - var freezedRecord = false;
    - var divDisableClass = '';
    - var defaultFirstSaveFn = 'saveClosing';
    - var closingTabActiveStatus = 'tab-pane active', summaryTabActiveStatus = 'tab-pane fade';
    - var cashSalesTabActiveStatus = 'tab-pane fade';
    if(!user.isAdmin)
        - defaultFirstSaveFn = 'saveCashSales';
        - cashSalesTabActiveStatus = 'tab-pane active';
        - closingTabActiveStatus = 'd-md-none';
    if(closingData.closingStatus === 'CLOSED')
        - freezedRecord = true;
        - divDisableClass = ' disabledInputs';
        - defaultFirstSaveFn = 'NoSaveClick';
        - summaryTabActiveStatus = 'tab-pane active ';
        - closingTabActiveStatus = 'tab-pane fade ' +  divDisableClass;
        input(type='hidden' id='freezedRecord_hiddenValue' value="true")

    input(type='hidden' id='currency_hiddenValue' value= currency)
    input(type='hidden' id='denominationValuesJson_hiddenValue' value= denominationValuesJson)
    input(type='hidden' id='productIdAliasMapping_hiddenValue' value= productIdAliasMapping)
    input(type='hidden' id='currentTabForSave' value=defaultFirstSaveFn)

    input(type='hidden' name='location' value= location)
    input(type='hidden' id='user' name='user' value= user)
    input(type='hidden' id='closing_hiddenId' value= closingData.closingId)

    form
        div
            if(!freezedRecord)
                ul.nav.nav-tabs
                    if(user.isAdmin)
                        li.nav-item.col-md.active
                            a.nav-link.active#closing_tab(data-toggle="tab" href="#new_closing" onclick=`trackMenu(this)`) Closing
                        li.nav-item.col-md
                            a.nav-link#attendance_tab(data-toggle="tab" href="#new_attendance" onclick=`trackMenu(this)`) Attendance
                        li.nav-item.col-md
                            a.nav-link#reading_tab(data-toggle="tab" href="#new_readings" onclick=`doubleCheckReadingPumps(this)`) Reading
                        li.nav-item.col-md
                            a.nav-link#sales_2t_tab(data-toggle="tab" href="#sales_2t" onclick=`calculateAll2TProducts(this)`) 2T Sales
                    if(user.isAdmin)
                        li.nav-item.col-md
                            a.nav-link#cash_sales_tab(data-toggle="tab" href="#new_cash_sales" onclick=`cashSaleOrCreditUpdateProductTypePrices(this, 'cash-sale-')`) Cash Sales
                    else
                        li.nav-item.col-md.active
                            a.nav-link.active#cash_sales_tab(data-toggle="tab" href="#new_cash_sales" onclick=`cashSaleOrCreditUpdateProductTypePrices(this, 'cash-sale-')`) Cash Sales
                    li.nav-item.col-md
                        a.nav-link#credit_sales_tab(data-toggle="tab" href="#new_credit_sales" onclick=`cashSaleOrCreditUpdateProductTypePrices(this, 'credit-')`) Credit Sales
                    li.nav-item.col-md
                        a.nav-link#expenses_tab(data-toggle="tab" href="#new_expenses" onclick=`calculateExpensesAndDenoms(this)`) Expenses
                    if(user.isAdmin)
                        li.nav-item.col-md
                            a.nav-link#summary_tab(data-toggle="tab" href="#summary" onclick="populateSummary(this)") Summary
            else
                ul.nav.nav-tabs
                    if(user.isAdmin)
                        li.nav-item.col-md
                            a.nav-link#closing_tab(data-toggle="tab" href="#new_closing") Closing
                        li.nav-item.col-md
                            a.nav-link#attendance_tab(data-toggle="tab" href="#new_attendance") Attendance
                        li.nav-item.col-md
                            a.nav-link#reading_tab(data-toggle="tab" href="#new_readings" ) Reading
                        li.nav-item.col-md
                            a.nav-link#sales_2t_tab(data-toggle="tab" href="#sales_2t") 2T Sales
                    li.nav-item.col-md
                        a.nav-link#cash_sales_tab(data-toggle="tab" href="#new_cash_sales" onclick=`cashSaleOrCreditUpdateProductTypePrices(this, 'cash-sale-')`) Cash Sales
                    li.nav-item.col-md
                        a.nav-link#credit_sales_tab(data-toggle="tab" href="#new_credit_sales" onclick=`cashSaleOrCreditUpdateProductTypePrices(this, 'credit-')`) Credit Sales
                    li.nav-item.col-md
                        a.nav-link#expenses_tab(data-toggle="tab" href="#new_expenses") Expenses
                    if(user.isAdmin)
                        li.nav-item.col-md.active
                            a.nav-link.active#summary_tab(data-toggle="tab" href="#summary" onclick="populateSummary(this)") Summary

            div.tab-content
                // ----------------------- New closing details ----------------------------
                div.row &nbsp;
                div.container#new_closing(class=closingTabActiveStatus)
                    div.row &nbsp;
                    div.row
                        div.col
                            label(for='cashierId') Cashier Name:
                            select#cashierId.form-control(name='closing__cashierId' required)
                                if cashiers
                                    each val in cashiers
                                        option(value=`${val.personId}` selected= (val.personId === closingData.cashierId))= val.personName
                            div.invalid-feedback Cashier is required.
                        div.col
                            input(type='hidden' id='h_cashierDate' value= closingData.h_closingDate)
                            label(for='cashierDate') Date:
                            input#cashierDate.form-control(type='date', name='closing__cashierDate', value= closingData.closingDate required max=currentDate min=minDateForNewClosing)
                            div.invalid-feedback Closing date is required.
                        div.col
                            label(for='cashGiven') Cash Given:
                            input#cashGiven.form-control(type='number', name='closing__cashGiven' required value= closingData.cash min=0 oninput='validity.valid||(value="")' step=0.01)
                            div.invalid-feedback Cash given is required.
                        div.col
                            label(for='notes') Notes:
                            input#notes.form-control(type='text', name='closing__notes' value= closingData.notes)
                    div.row
                        div.col &nbsp;
                    div.row#gasoline-prices
                        if productValues
                            +listProductNames(pumpProductValues, 'rate_')
                    div.row
                        div.col &nbsp;
                    div.row(align="center")
                        div.col
                            button.btn.btn-primary(type="button", onClick="trackMenuWithName('attendance_tab')") Next &raquo;

                                        // ----------------------- Attendance details ----------------------------
                div.tab-pane.fade#new_attendance(class=closingTabActiveStatus)
                    div
                        div.col-16
                            div.table-responsive
                                table.table#attendance-table
                                    tbody.w-100
                                        thead(class="thead-light")
                                            tr
                                                th(scope="col") Person
                                                th(scope="col") Shift
                                                th(scope="col") IN Date-Time
                                                //-th(scope="col") IN Time
                                                th(scope="col") OUT Date-Time
                                                //-th(scope="col") OUT Time
                                                th(scope="col") Notes
                                                th(scope="col")

                                                - var rowCnt = 0
                                                while rowCnt < 8
                                                    +addNewAttendance(rowCnt, attendanceData[rowCnt++])
                    div.row
                        div.col &nbsp;
                    div.row
                        div.col(align="center")
                            button.btn.btn-info(type="button", onClick="showAddedRow('attendance')") Add

                    div.row
                        div.col &nbsp;

                    div.row(align="center")
                        div.col
                            button.btn.btn-primary(type="button", onClick="trackMenuWithName('reading_tab')") Next &raquo;
                // ----------------------- New reading details ----------------------------
                div.tab-pane.fade#new_readings(class=divDisableClass)
                    div.row &nbsp;
                    if pumps && pumps.length > 0
                        div.row                            
                            each val in pumps                                
                                td
                                    +addProductCodesAsSelected(val, productValues, 'f_', (val.pumpReadings && val.pumpReadings[0] ? val.pumpReadings[0] : null))
                                td
                                    +addProductCodesAsSelected(val, productValues, 's_', (val.pumpReadings && val.pumpReadings[1] ? val.pumpReadings[1] : null))
                        div.row
                            table.table
                                tbody
                                    thead.thead-light
                                        th PumpName
                                        th Price
                                        th Action
                                    tr
                                        td
                                            select#reading-pump-name.form-control(onchange="updatePriceOnReadingTab()")
                                                each val in pumps
                                                    option= val.pumpCode
                                        td
                                            input#reading-price.form-control(type="number" min="0" step=0.01)
                                        td
                                            a.btn.btn-info(onclick="showReadingPump()") Add New
                    else
                        div.row.bg-warning
                            pre.text-danger= `Note: Pumps data is empty at backend.`
                    div.row
                        div.col &nbsp;
                    div.row(align="center")
                        div.col
                            button.btn.btn-primary(type="button", onClick="trackMenuWithName('sales_2t_tab')") Next &raquo;

                // ----------------------- New 2T sales ---------------------------------
                if(user.isAdmin)
                    div.tab-pane.fade.container#sales_2t(class= divDisableClass)
                        if product2TValues && product2TValues.length > 0
                            div.row
                                each val in product2TValues
                                    +list2TProductNames(val)
                            div.row &nbsp;
                            div.row
                                // 2T details
                                each val in product2TValues
                                    +add2TProducts(val)
                        else
                            div.row.bg-warning
                                pre.text-danger= `Note: 2T oil products' data is empty at backend.`
                        div.row
                            div.col &nbsp;
                        div.row(align="center")
                            div.col
                                button.btn.btn-primary(type="button", onClick="trackMenuWithName('cash_sales_tab')") Next &raquo;
                // ----------------------- New cash sales details ----------------------------
                div#new_cash_sales(class = cashSalesTabActiveStatus + divDisableClass)
                    div
                        div.col-16
                            div.table-responsive
                                table.table#cash-sale-table
                                    tbody.w-100
                                        thead(class="thead-light")
                                            tr
                                                th(scope="col") Product
                                                th(scope="col") Bill #
                                                th(scope="col") Price
                                                th(scope="col") Price Discount
                                                th(scope="col") Quantity
                                                th(scope="col") Sale
                                                th(scope="col") Notes
                                                if(!freezedRecord)
                                                    th(scope="col")

                                                - var rowCnt = 0
                                                while rowCnt < maxCashSalesRowCnt
                                                    +addCashSales(rowCnt, t_cashSales[rowCnt++])
                                            tr
                                                td(colspan=3)
                                                td Total
                                                td
                                                    input.form-control#cash-sale-total(type='text' name='cash-sale-total' readonly value='0')
                                                td
                    div.row
                        div.col &nbsp;
                    div.row
                        div.col(align="center")
                            button.btn.btn-info(type="button", onClick="showAddedRow('cash-sale')") Add cash sales

                    div.row
                        div.col &nbsp;
                    div.row(align="center")
                        div.col
                            button.btn.btn-primary(type="button", onClick="trackMenuWithName('credit_sales_tab')") Next &raquo;


                // ----------------------- New credit sales details ----------------------------
                div.tab-pane.fade#new_credit_sales(class= divDisableClass)
                    div
                        div.col-16
                            div.table-responsive
                                table.table#credit-table
                                    tbody.w-100
                                        thead(class="thead-light")
                                            tr
                                                th(scope="col") Product
                                                th(scope="col") Bill #
                                                th(scope="col") Type
                                                th(scope="col") Company
                                                th(scope="col") Vehicle Number
                                                th(scope="col") Price
                                                th(scope="col") Price Discount
                                                th(scope="col") Quantity
                                                th(scope="col") Sale
                                                th(scope="col") Notes
                                                if(!freezedRecord)
                                                    th(scope="col")
                                            - var rowCnt = 0
                                            while rowCnt < maxCreditsRowCnt
                                                +addCredits(rowCnt, t_credits[rowCnt++])

                                            tr
                                                td(colspan=4)
                                                td Total
                                                td
                                                    input.form-control#credit-total(type='text' name='credit-total' readonly value='0')
                                                td

                    div.row
                        div.col &nbsp;
                    div.row
                        div.col(align="center")
                            button.btn.btn-info(type="button", onClick="showAddedCreditRow()") Add credits

                    div.row
                        div.col &nbsp;
                    div.row(align="center")
                        div.col
                            button.btn.btn-primary(type="button", onClick="trackMenuWithName('expenses_tab')") Next &raquo;

                // ----------------------- New expenses & denominations details ----------------------------
                div.tab-pane.container.fade#new_expenses(class= divDisableClass)
                    div.row
                        div.col-6
                            h5.sub-header Expenses
                            if expenseValues && expenseValues.length > 0
                                div.table-responsive
                                    table.table#exp-table
                                        tbody
                                            thead(class="thead-light")
                                                tr
                                                    th(scope="col") Expense
                                                    th(scope="col") Amount
                                                    th(scope="col") Notes
                                                    th(scope="col")
                                                if t_expenses
                                                    - var rowCnt = 0
                                                    for val in t_expenses
                                                        +addExpenses(rowCnt++, val)
                                                    while rowCnt < maxExpensesRowCnt
                                                        +addExpenses(rowCnt++, null)
                                                    tr
                                                        td
                                                            label Total
                                                        td
                                                            input.form-control#exp-total(type='text' name='exp-total' readonly value='0')
                                    div.row
                                        div.col &nbsp;
                                    div.row
                                        input(type='hidden' id='firstExpenseDefaultAmt_hiddenValue' value= expenseValues[0].defaultAmt)
                                        div.col(align="center")
                                            button.btn.btn-info(type="button", onClick=`showExpenseAddedRow('exp', calculateExpenseTotal)`) Add new expense
                            else
                                div.row.bg-warning
                                    pre.text-danger= `Note: Expenses data is empty at backend.`
                        div.col-6
                            h5.sub-header Denominations
                            div.table-responsive
                                table.table
                                    tbody
                                        +addDenomRows(t_denoms)
                                        tr
                                            td
                                                label
                                                    Total
                                            td
                                                input.form-control#denominations_total(type='text' name='denominations_total' readonly value='0')

                    div.row
                        div.col &nbsp;
                    if(user.isAdmin)
                        div.row(align="center")
                            div.col
                                if expenseValues && expenseValues.length > 0
                                    button.btn.btn-primary(type="button", onClick=`trackMenuWithName('summary_tab')`) Next &raquo;
                                else
                                    button.btn.btn-primary(type="button", onClick=`document.getElementById('summary_tab').click()`) Next &raquo;
                    else
                        div.row(align="center")
                            div.col
                                if expenseValues && expenseValues.length > 0
                                    button.btn.btn-primary(type="button", onClick=`saveExpensesAndDenoms()`) Save


                // ----------------------- Summary ----------------------------
                if(user.isAdmin)
                    div#summary(class= summaryTabActiveStatus)
                        div
                            div#summary-div
                                div
                                    // Summary: Closing & Product rate details
                                    div.container.table-info#v-closing-details
                                        div.row
                                            div.col-3
                                                span Cashier:&nbsp;
                                                span(id='valText-cashierId')
                                            div.col-3
                                                span Date:&nbsp;
                                                span(id='valDate-cashierDate')
                                            div.col-3
                                                span Cash Given:&nbsp;
                                                span(id='val-cashGiven')
                                            div.col-3
                                                span Excess/Shortage:&nbsp;
                                                span#excess_storage_color
                                                    b#excess_storage Excess

                                    // Summary: pump reading details
                                    div#v-pump-readings
                                        div &nbsp;
                                        div.row
                                            each val in pumps
                                                +summaryPumpInstancesData(val, productValues, 'f_')
                                                +summaryPumpInstancesData(val, productValues, 's_')

                                    div.row
                                        // Summary: Cash sales
                                        div.col-6#v-cash-sale
                                            h6.sub-header Cash Sales
                                            div.table-responsive#vis-cash-sale-table
                                                table.table.table-sm
                                                    thead.thead-light
                                                        tr
                                                            th(scope="col") Product
                                                            th(scope="col") Bill #
                                                            th(scope="col") Price
                                                            th(scope="col") Price Discount
                                                            th(scope="col") Quantity
                                                            th(scope="col") Sale

                                                        - var rowCnt = 0
                                                        while rowCnt < maxCashSalesRowCnt
                                                            +summaryCashSalesData(rowCnt++)
                                                        tr
                                                            td(colspan=4)
                                                            td
                                                                span
                                                                    b Total
                                                            td
                                                                span
                                                                    b#val-cash-sale-total= 0

                                        // Summary: Credit details
                                        div.col-6#v-credit
                                            h6.sub-header Credit Sales
                                            div.table-responsive#vis-credit-table
                                                table.table.table-sm
                                                    thead.thead-light
                                                        tr
                                                            th(scope="col") Product
                                                            th(scope="col") Bill #
                                                            th(scope="col") Type
                                                            th(scope="col") Company
                                                            th(scope="col") Price
                                                            th(scope="col") Price Discount
                                                            th(scope="col") Quantity
                                                            th(scope="col") Sale
                                                            th(scope="col")

                                                    - var rowCnt = 0
                                                        while rowCnt < maxCreditsRowCnt
                                                            +summaryCreditsData(rowCnt++)
                                                        tr
                                                            td(colspan=5)
                                                            td
                                                                span
                                                                    b Total
                                                            td
                                                                span
                                                                    b#val-credit-total= 0

                                div.row
                                    // 2T loose details
                                    div.col-3#v-2TLoose-sales
                                        span.sub-header 2TLoose Rate :
                                        span(id='val-loose2t-rate')
                                        +summary2TSalesData('loose2t')
                                        +gasSalesTotal()
                                    // 2T pouch details
                                    div.col-3#v-2TPouch-sales
                                        span.sub-header 2TPouch Rate :
                                        span(id='val-pouch2t-rate')
                                        +summary2TSalesData('pouch2t')
                                    // Summary: Expenses
                                    div.col-3#v-expenses
                                        h6.sub-header Expenses
                                        div.table-responsive
                                            table.table.table-sm#always-vis-summary_expense_table
                                                tbody
                                                    if t_expenses
                                                        - var rowCnt = 0
                                                        for val in t_expenses
                                                            +showExpensesData(rowCnt++, val)
                                                        while rowCnt < maxExpensesRowCnt
                                                            +showExpensesData(rowCnt++, null)
                                                        tr
                                                            td
                                                                span
                                                                    b Total
                                                            td(colspan=2)
                                                                span
                                                                    b#val-exp-total= 0
                                    // Summary: denominations
                                    div.col-3#v-denominations
                                        h6.sub-header Denominations
                                        div.table-responsive
                                            table.table.table-sm
                                                tbody
                                                    +showDenominationsData(denominationValues)
                                                tr
                                                    td
                                                        span
                                                            b Total
                                                    td
                                                        span
                                                            b#val-denominations_total= 0
                        if(!freezedRecord)
                            div.row
                                div.col &nbsp;
                            div(align="center")
                                span
                                    button.btn.btn-dark(type="button", onClick='finishClosing(\'closing\',\'close-closing\', \'home_tab\')') CLOSE &raquo;
    script.    
        var vehicleData = !{JSON.stringify(vehicleData || {})};        
        window.pumpsData = !{JSON.stringify(pumps)};
        window.productValuesData = !{JSON.stringify(productValues)}; 

