extends layout

block content
    form(method='GET' action='/home' id='closing-by-date')
        table.center
            tr
                td From Date:
                td
                    input#fromclosingDate.form-control(type='date', name='fromClosingDate', value=fromClosingDate max=currentDate format="dd/mm/yyyy" required)
                td &nbsp;
                td To Date:
                td
                    input#toclosingDate.form-control(type='date', name='toClosingDate', value=toClosingDate max=currentDate format="dd/mm/yyyy" required)
                td &nbsp;
                td
                    button.btn.btn-primary(type='submit') Go
    div &nbsp;
    div
        if closingValues && closingValues.length > 0
            table(class="table")
                thead(class="thead-light")
                    tr
                        th Date
                        th Cashier
                        th Morning/Evening
                        // Dynamic product column headers
                        if productColumns && productColumns.length > 0
                            each column in productColumns
                                th= column.label
                        else
                            // Fallback headers without 2T Pouch
                            th MS
                            th HSD
                            th XMS
                            th 2T Loose
                        th Shortage/Excess
                        th Status
                        th Edit/View
                        th Delete
                tbody
                    each val in closingValues
                        tr(id=`closing-record-${val.closingId}`)
                            td
                                span= val.closingDate
                            td
                                span= val.cashierName
                            td
                                span= val.period
                            // Dynamic product column data
                            if productColumns && productColumns.length > 0
                                each column in productColumns
                                    td
                                        span= parseFloat(val[column.key] || 0).toFixed(2)
                            else
                                // Fallback data without 2T Pouch
                                td
                                    span= val.msData || '0.00'
                                td
                                    span= val.hsdData || '0.00'
                                td
                                    span= val.xmsData || '0.00'
                                td
                                    span= val.l2tData || '0.00'
                            // Shortage/Excess column with proper formatting
                            td
                                if val.expenseData && val.expenseData != 0
                                    if val.expenseData > 0
                                        strong.text-success= '+' + parseFloat(val.expenseData).toFixed(2)
                                    else
                                        strong.text-danger= parseFloat(val.expenseData).toFixed(2)
                                else
                                    strong.text-muted 0.00
                            td
                                if val.closingStatus === 'CLOSED'
                                    span.badge.badge-success Closed
                                else if val.closingStatus === 'DRAFT'
                                    span.badge.badge-warning Draft
                                else
                                    span.badge.badge-info= val.closingStatus
                            if (val.closingStatus === 'DRAFT')
                                td
                                    div.row
                                    a.btn.btn-info(href='/edit-draft-closing?closingId='+val.closingId)
                                        span.oi.oi-pencil
                                if(user.isAdmin)
                                    td
                                        div.row
                                        a.btn.btn-danger(onClick=`deleteClosing(${val.closingId})`)
                                            span.oi.oi-trash
                            if (val.closingStatus === 'CLOSED')
                                td
                                    div.row
                                    a.btn.btn-info(href='/edit-draft-closing?closingId=' + val.closingId)
                                        span.oi.oi-book
                                td &nbsp;
                    
                    // Totals row without 2T Pouch
                    if closingValues.length > 1
                        tr.table-info
                            td
                                strong Total
                            td -
                            td -
                            // Calculate totals for each product column
                            if productColumns && productColumns.length > 0
                                each column in productColumns
                                    td
                                        - var total = 0
                                        each val in closingValues
                                            - total += parseFloat(val[column.key] || 0)
                                        strong= total.toFixed(2)
                            else
                                // Fallback totals without 2T Pouch
                                td
                                    - var msTotal = 0
                                    each val in closingValues
                                        - msTotal += parseFloat(val.msData || 0)
                                    strong= msTotal.toFixed(2)
                                td
                                    - var hsdTotal = 0
                                    each val in closingValues
                                        - hsdTotal += parseFloat(val.hsdData || 0)
                                    strong= hsdTotal.toFixed(2)
                                td
                                    - var xmsTotal = 0
                                    each val in closingValues
                                        - xmsTotal += parseFloat(val.xmsData || 0)
                                    strong= xmsTotal.toFixed(2)
                                td
                                    - var l2tTotal = 0
                                    each val in closingValues
                                        - l2tTotal += parseFloat(val.l2tData || 0)
                                    strong= l2tTotal.toFixed(2)
                            // Total shortage/excess - REMOVED
                            td -
                            td -
                            td -
                            td -
        else
            div.row &nbsp;
            div.row.bg-light No records to display.

        div.row
        if(user.isAdmin)
            if(draftsCnt < config.maxAllowedDrafts && draftDaysCnt <= 0)
                div.col &nbsp;
                form(method='GET' action='/new-closing' id='get-new-closing')
                    div.row
                        div.col
                            button.btn.btn-primary(type='button' onclick='getNewClosingPage()') Add New
            else
                if (draftDaysCnt > 0)
                    div.col.bg-warning
                        pre.text-danger= `Note: Drafts are open for long. please close them to add new closing.`
                else
                    div.col.bg-warning
                        pre.text-danger= `Note: Cannot allow to add new closings, max ${config.maxAllowedDrafts} allowed drafts are met.`
        div.row &nbsp;
        if(deadlineMessage && deadlineMessage.length > 0)
            div.row
                h6.sub-header.bg-primary Important Deadlines
                table(class="table" id="deadlineWarning-table")
                    thead(class="thead-light")
                        tr
                            th Deadline Date
                            th Message
                        tbody
                            each val, index in deadlineMessage
                                tr(id="deadlineWarning_row_"+index)
                                    td(scope="row")
                                        span= val.deadlineDate
                                    td(scope="row")
                                        span= val.message