doctype html
html
    head
        title Muthu Enterprises:#{title}
        //- meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/app-scripts.js')
        script(src='/javascripts/app-master-page-scripts.js')
        script(src='/javascripts/draft-edit-scripts.js')
        script(src='/javascripts/app-validator.js')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
        script(src ='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css')
        link(rel ='stylesheet', href ='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css')  
        link(id="favicon" rel="shortcut icon" type="image/png" href="/images/mc_logo.jpeg" src="/images/mc_logo.jpeg")
        
    - var isFreezedRecord = false;
    if(closingData && closingData.closingStatus === 'CLOSED')
        - isFreezedRecord = true;
    body(onload='populateSummaryFn(' + isFreezedRecord +');')
        h1.text-center PetroMath
        if (user)
            div#ajax-loading(class='d-md-none')
                img#loading-image(src="images/ajax-loader.gif" alt="Loading..." width="300px" height="300px")
            div
                div
                    span(style='float:right;color:green;')
                        b#user_details Logged in as #{user.Person_Name} for '#{user.location_code}'
                    span
                        a(href="/charts" required="false") Dashboard
                        if(user.isAdmin)
                            span &nbsp; | &nbsp;
                            if (title === 'Shift Closing')
                                span#home_tab Shift Closing
                            else
                                a#home_tab(href="/home" required="false") Shift Closing
                            span &nbsp; | &nbsp;
                            if (title === 'Credit Receipts')
                                span Credit Receipts
                            else
                                a(href="/creditreceipts" required="false") Credit Receipts
                            span &nbsp; | &nbsp;
                            if (title === 'Tank Receipts')
                                span#tankReceipt_tab Tank Receipts
                            else
                                a#tankReceipt_tab(href="/tankreceipts" required="false") Tank Receipts
                            span &nbsp; | &nbsp;
                            if (title === 'CashFlow:Home' || title === 'CashFlow')
                                span#cashflow_tab Cash Flow
                            else
                                a#cashflow_tab(href="/cashflowhome" required="false") Cash Flow
                            span &nbsp; | &nbsp;
                            if (title === 'Credits')
                                span Credits
                            else
                                a(href="/credits" required="false") Credits
                            span &nbsp; | &nbsp;
                            if (title === 'Products')
                                span Products
                            else
                                a(href="/products" required="false") Products
                            span &nbsp; | &nbsp;
                            if (title === 'Deadline Manager')
                                span Deadline Manager
                            else
                                a(href="/deadline" required="false") Deadline Manager
                            span &nbsp; | &nbsp;
                            if (title === 'Users')
                                span Users
                            else
                                a(href="/users" required="false") Users
                        span &nbsp; | &nbsp;
                        if (title === 'Utilities')
                            span Utilities
                        else
                           a(href="/utilities" required="false") Utilities
                        span &nbsp; | &nbsp;
                        if (title === 'Reports')
                            span Reports
                        else 
                            a(href="/reports" required="false") Reports
                        span &nbsp; | &nbsp;
                        //- if (title === 'Truck Management')
                        //-     span Truck Management
                        //- else 
                        //-     a(href="/truck-load" required="false") Truck Management
                        .dropdown.d-inline-block
                            a(href="#", data-toggle="dropdown").dropdown-toggle Truck Management
                            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
                                li.divider
                                    a(href='/truck-load') Truck Load
                                li.divider
                                    a(href='/truck-expense') Truck Expense
                        span &nbsp; | &nbsp;
                        if (title === 'Bank Transaction')
                            span Bank Transaction
                        else 
                            a(href="/bank-transaction" required="false") Bank Transaction
                        span &nbsp; | &nbsp;
                        if (title === 'Change Password')
                            span Change Password
                        else
                            a(href="/changepwd" required="false") Change Password
                        span &nbsp; | &nbsp;
                        a(href="/logout" required="false") Logout

                    span
                        if (title)
                            h5.text-center #{title}
                        else
                            h5.text-center &nbsp;
        if messages.error
            div &nbsp;
            div(class='alert alert-danger' required="false") #{messages.error}
        if messages.success
            div &nbsp;
            div(class='alert alert-success' required="false") #{messages.success}
        if messages.warning
            div &nbsp;
            div(class='alert alert-warning' required="false") #{messages.warning}
        div &nbsp;
        div#static-snackbar(class='alert alert-danger d-md-none')
        div#snackbar
        block content
