extends layout
include mixins/mixins
include mixins/summary-mixins

block content
    form
        div
            ul.nav.nav-tabs
                li.nav-item.col-md.active
                    a.nav-link.active#decantheader_tab(data-toggle="tab" href="#new_decantheader" onclick=`trackMenu(this)`) Decant Header
                li.nav-item.col-md
                    a.nav-link#decantlines_tab(data-toggle="tab" href="#new_decantlines" onclick=`trackMenu(this)`) Decant Lines
                li.nav-item.col-md
                    a.nav-link#summary_tab(data-toggle="tab" href="#summary" onclick="populateReceiptSummary(this)") Summary
            div.tab-content
                // ----------------------- New Decant details ----------------------------
                div.row &nbsp;
                //div.tab-pane.active#new_decantheader
                div.container-fluid#new_decantheader(class="tab-pane active")
                    div.row &nbsp;
                    input(type='hidden' name='location' id='location_id' value= location)
                    input(type='hidden' id='user' name='user' value= user)
                    input(type='hidden' id='closing_hiddenId' )
                    input(type='hidden' id='currentTabForSave' value='saveDecantHeader')
                    div
                        div.col-12
                            div.table-responsive
                                table.table#tankheader-table
                                    tbody.w-100
                                        thead(class="thead-light")
                                            tr
                                                th(scope="col") Invoice Date
                                                th(scope="col") Invoice Number
                                                th(scope="col") Decant Date
                                                th(scope="col") Decant Time
                                                th(scope="col") Decant Incharge
                                                th(scope="col") TT Number
                                                th(scope="col") Driver
                                                th(scope="col") Helper
                                                th(scope="col") Odometer Reading
                                                th(scope="col") Truck Halt
                                            tr 
                                                td
                                                    input(type='hidden' id='h_invoiceDate' value= currentDate)
                                                    input#invoiceDate.form-control(type='date', name='decant_invoiceDate', value=currentDate max=currentDate required)
                                                td  
                                                    input#invoiceno.form-control(type="text" name="decant_invoiceno" required) 
                                                td
                                                    input(type='hidden' id='h_decantDate' value= currentDate)
                                                    input#decantDate.form-control(type='date', name='decant_decantDate', value=currentDate max=currentDate required)
                                                td
                                                    select#decanttime.form-control(name='decant_time' required)
                                                        if config.decantTimelists
                                                            each val in config.decantTimelists
                                                                option(value=`${val}`)= val
                                                td
                                                    select#inchargeid.form-control(name='decant_Inchargeid' required)
                                                        if inchargers
                                                            each val in inchargers
                                                                option(value=`${val.personId}`)= val.personName
                                                td 
                                                    select#ttnumber.form-control(name='decant_ttnumber' required)
                                                        if trucks
                                                            each val in trucks
                                                                option(value=`${val.truck_id}`)= val.truck_number                       
                                                td 
                                                    select#driverid.form-control(name='decant_driverid' required)
                                                        if drivers
                                                            each val in drivers
                                                                option(value=`${val.personId}`)= val.personName
                                                td 
                                                    select#helperid.form-control(name='decant_helperid' required)
                                                        if drivers
                                                            each val in drivers
                                                                option(value=`${val.personId}`)= val.personName
                                                td
                                                    input#odometer.form-control(type="text" name='decant_odometer' required)
                                                td 
                                                    input#halt_chk.form-control(type="checkbox" name="decant_halt_chk" value='N', onClick="changeHaltflag()")

                    div.row
                        div.col &nbsp;
                    div.row(align="center")
                        div.col
                            button.btn.btn-primary(type="button", onClick="trackMenuWithName('decantlines_tab')") Next &raquo;            
                
                // ----------------------- New Decant Lines ----------------------------
                div.tab-pane.fade#new_decantlines
                    div.table-responsive
                        table.table-borderless(class="table" id="tankReceipts-table")
                            thead.thead-light
                                tr
                                    th(scope="col") Tank
                                    th(scope="col") Quantity-KL
                                    th(scope="col") EB
                                    th(scope="col") Opening Dip
                                    th(scope="col") Closing Dip
                                    th(scope="col") Notes
                                    th(scope="col") Amount
                                  

                                - var rowCnt = 0
                                while rowCnt < 3
                                    +addDecantLines(rowCnt++)
                    div.row
                        div.col &nbsp;
                    div(align="center")
                        button.btn.btn-info(type="button", id="tankReceipts-add-new" onClick="showAddedRow('tankReceipts')" title="Only one can be added at a time.") Add New
                        span &nbsp;&nbsp;&nbsp;&nbsp;
                        button.btn.btn-primary(type="button", onClick="trackMenuWithName('summary_tab')") Next &raquo;
                    //button.btn.btn-primary(type="submit", id="tankReceipts-save" disabled=true, title="Enabled on 'Add New'") Save  
                    // ----------------------- Summary ----------------------------
                div.tab-pane.fade#summary
                    div
                        div#summary-div
                            div
                                //div.container.table-info#v-decant-header
                                div.col-12#v-decant-header
                                    h6.sub-header Decant Header
                                        div.table-responsive#vis-tankheader-table
                                            table.table.table-sm
                                                thead.thead-light
                                                    tr
                                                       th(scope="col") Invoice Date
                                                        th(scope="col") Invoice Number
                                                        th(scope="col") Decant Date
                                                        th(scope="col") Decant Time
                                                        th(scope="col") Decant Incharge
                                                        th(scope="col") TT Number
                                                        th(scope="col") Driver
                                                        th(scope="col") Helper
                                                        th(scope="col") Odometer Reading
                                                        th(scope="col") Truck Halt
                                                    tr
                                                        td
                                                            span(id='valDate-invoiceDate')
                                                        td 
                                                            span(id='val-invoiceno')
                                                        td 
                                                            span(id='valDate-decantDate')
                                                        td  
                                                            span(id='valText-decanttime')
                                                        td 
                                                            span(id='valText-inchargeid')
                                                        td 
                                                            span(id='valText-ttnumber')
                                                        td 
                                                            span(id='valText-driverid')
                                                        td  
                                                            span(id='valText-helperid')
                                                        td
                                                            span(id='val-odometer')
                                                        td
                                                            span(id='val-halt_chk')
                                    
                                    // Summary: Decant Lines
                                div.col-10#v-decant_lines
                                    h6.sub-header Decant Lines
                                        div.table-responsive#vis-tankReceipts-table
                                            table.table.table-sm
                                                thead.thead-light
                                                    tr
                                                        th(scope="col") Tank
                                                        th(scope="col") Quantity-KL
                                                        th(scope="col") EB
                                                        th(scope="col") Opening Dip
                                                        th(scope="col") Closing Dip
                                                        th(scope="col") Notes
                                                        th(scope="col") Amount
                                                - var rowCnt = 0
                                                while rowCnt < 3
                                                    +summaryDecantLinesData(rowCnt++)
                    div.row
                        div.col &nbsp;
                    div(align="center")
                        span
                            button.btn.btn-dark(type="button", onClick='finishClosing(\'closing\',\'close-receipt\', \'tankReceipt_tab\')') CLOSE &raquo;

