extends layout
include mixins/mixins

block content
    div#messageAlert.alert.alert-dismissible.fade(role="alert" style="display: none;")
        span#messageText
        button.close(type="button" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;
    
    form(method='POST' action='/products')
        table(class="table" id="product-master-table")
            thead(class="thead-light")
                tr
                    th(scope="col") #
                    th(scope="col") Product
                    th(scope="col") SKU Name
                    th(scope="col") SKU Number
                    th(scope="col") HSN Code
                    th(scope="col") Unit
                    th(scope="col") Price
                    th(scope="col") Ledger Name
                    th(scope="col") CGST%
                    th(scope="col") SGST%
                    th(scope="col") Edit
                tbody
                    each val, index in products
                        tr
                            th(scope="row")= index + 1
                            td(scope="row")= val.name
                            td(scope="row")
                                input.form-control(
                                    type="text", 
                                    id="product-sku-name-"+index, 
                                    value=val.sku_name, 
                                    readonly
                                )
                            td(scope="row")
                                input.form-control(
                                    type="text", 
                                    id="product-sku-number-"+index, 
                                    value=val.sku_number, 
                                    readonly
                                )
                            td(scope="row")
                                input.form-control(
                                    type="text", 
                                    id="product-hsn-code-"+index, 
                                    value=val.hsn_code, 
                                    readonly
                                )
                            td(scope="row")
                                input.form-control(
                                    type="text", 
                                    id="product-unit-"+index, 
                                    value=val.unit, 
                                    readonly
                                )
                            td(scope="row")
                                input.form-control(
                                    type="number", 
                                    id="product-price-"+index, 
                                    value=val.price, 
                                    readonly, 
                                    step=0.01
                                )
                            td(scope="row")
                                input.form-control(
                                    type="text", 
                                    id="product-ledger-name-"+index, 
                                    value=val.ledger_name, 
                                    readonly
                                )
                            td(scope="row")
                                input.form-control(
                                    type="number", 
                                    id="product-cgst-"+index, 
                                    value=val.cgst_percent, 
                                    readonly, 
                                    step=0.01
                                )
                            td(scope="row")
                                input.form-control(
                                    type="number", 
                                    id="product-sgst-"+index, 
                                    value=val.sgst_percent, 
                                    readonly, 
                                    step=0.01
                                )
                            td(scope="row")
                                div.row
                                    a.btn.btn-info(
                                        id="product-edit-"+index, 
                                        onclick="editProduct('"+index+"','"+ val.id +"')"
                                    )
                                        span.oi.oi-pencil
                                    a.btn-info.d-md-none(
                                        id="product-save-"+index, 
                                        onClick="saveProduct('"+index+"','"+ val.id +"')"
                                    ) Save


                    - var rowCnt = 0
                    while rowCnt < 1
                        +addMasterProduct(rowCnt++)
        div(align="center")
            button.btn.btn-info(type="button", onClick="showMasterEntryRow(this, 'product-master')", id='product-master-add-new') Add New
            span &nbsp;&nbsp;&nbsp;&nbsp;
            button.btn.btn-primary(type="submit", id='product-master-save', disabled=true) Save



    script.
        function showAlert(message, type = 'success') {
            const alertDiv = document.getElementById('messageAlert');
            const messageText = document.getElementById('messageText');
            
            // Set message and style
            messageText.textContent = message;
            alertDiv.className = `alert alert-${type} alert-dismissible fade show`;
            
            // Show alert
            alertDiv.style.display = 'block';
            
            // Auto hide after 3 seconds
            setTimeout(() => {
                if (alertDiv) {
                    alertDiv.style.display = 'none';
                }
            }, 3000);
        }