extends layout
include mixins/mixins

block content
    form(method='POST' action='/products')
        table(class="table" id="product-master-table")
            thead(class="thead-light")
                tr
                    th(scope="col") #
                    th(scope="col") Product
                    th(scope="col") Qty
                    th(scope="col") Unit
                    th(scope="col") Price
                    th(scope="col") Ledger Name
                    th(scope="col") CGST%
                    th(scope="col") SGST%
                    th(scope="col") Edit
                tbody
                    each val, index in products
                        tr
                            th(scope="row")= index + 1
                            td(scope="row")= val.name
                            td(scope="row")= val.qty
                            td(scope="row")
                                select.form-control(id="product-unit-"+index, disabled=true)
                                    if config.productUnits
                                        each unit in config.productUnits
                                            option(value=`${unit}` selected= (val.unit === unit))= unit
                            td(scope="row")
                                input.form-control(type="number" id="product-price-"+index value=val.price readonly step=0.01)
                            td(scope="row")
                                input.form-control(type="text" id="product-ledger-name-"+index value= val.ledger_name readonly step=0.01)
                            td(scope="row")
                                input.form-control(type="number" id="product-cgst-"+index value=val.cgst_percent readonly step=0.01)
                            td(scope="row")
                                input.form-control(type="number" id="product-sgst-"+index value=val.sgst_percent readonly step=0.01)
                            td(scope="row")
                                div.row
                                    a.btn.btn-info(id="product-edit-"+index onclick="editProduct('"+index+"','"+ val.id +"')")
                                        span.oi.oi-pencil
                                    a.btn-info.d-md-none(id="product-save-"+index onClick="saveProduct('"+ index+"','"+ val.id +"')") Save

                    - var rowCnt = 0
                    while rowCnt < 1
                        +addMasterProduct(rowCnt++)
        div(align="center")
            button.btn.btn-info(type="button", onClick="showMasterEntryRow(this, 'product-master')", id='product-master-add-new') Add New
            span &nbsp;&nbsp;&nbsp;&nbsp;
            button.btn.btn-primary(type="submit", id='product-master-save', disabled=true) Save