extends layout-customer

block content
    form(method='POST' action='/reports-indiv-customer')
        input(type="hidden" id="company_id" name="company_id" value=company_id)
        input(type="hidden" name="caller" value="notpdf")
        .row.align-items-end.mb-3
            .col-12.col-sm-auto.mb-2.mb-sm-0
                label.d-block Date Range
                select#dateRange.form-control(onchange="updateDateRange()")
                    option(value='this_month') This Month
                    option(value='last_month') Last Month
                    option(value='this_financial_year') This Financial Year
                    option(value='last_financial_year') Last Financial Year
                    option(value='custom' selected=true) Custom Date
            .col-6.col-sm-auto.mb-2.mb-sm-0#fromDateGroup
                label#fromDateLabel.d-block From Date
                input#fromclosingDate.form-control(type='date' name='fromClosingDate' value=fromClosingDate max=currentDate required)
            .col-6.col-sm-auto.mb-2.mb-sm-0#toDateGroup
                label#toDateLabel.d-block To Date
                input#toclosingDate.form-control(type='date' name='toClosingDate' value=toClosingDate max=currentDate required)
            .col-12.col-sm-auto.mt-2.mt-sm-0.d-flex.align-items-end
                button.btn.btn-primary.mr-2(type='submit' id='goButton') Go
                button.btn.btn-success.mr-2(
                    type='button'
                    onClick='generatePDF(window.location.href,"N")'
                    title='Download PDF'
                    data-toggle='tooltip'
                    data-placement='top'
                )
                    i.bi.bi-cloud-download
                button.btn.btn-info(
                    type='button'
                    onClick='generatePDF(window.location.href,"Y")'
                    title='Print'
                    data-toggle='tooltip'
                    data-placement='top'
                )
                    i.bi.bi-printer

    div.mt-3
        if creditstmt && creditstmt.length > 0
            - var companyName = creditstmt[0].companyName
            - var cidparam = creditstmt[0].cidparam
            - var showPriceDiscountColumn = creditstmt.some(val => val['Price Discount'] != null && val['Price Discount'] != '' && val['Price Discount'] != 0)
            - var showVehicleColumn = creditstmt.some(val => val['Vehicle Number'] != null && val['Vehicle Number'] != '')
            - var showOdometerColumn = creditstmt.some(val => val['Odometer Reading'] != null && val['Odometer Reading'] != '')
            h6.font-weight-bold.text-center= "Credit Detail Report"
            if(cidparam == -1)
                h5.font-weight-bold.text-center.text-uppercase= 'All Companies'
            else
                h5.font-weight-bold.text-center.text-uppercase= companyName
                if customerAddress
                    p.text-center.text-muted.mb-0= customerAddress
                if customerGstin
                    p.text-center.text-muted.mb-0= `GSTIN: ${customerGstin}`
                h6.text-center.text-muted= `${formattedFromDate}   to   ${formattedToDate}`
            div.table-responsive
                table.table.table-bordered.border.table-sm
                    thead(class="thead-light")
                        tr
                            th.text-center Date
                            th.text-center Particulars
                            th.text-center Product Name
                            if showVehicleColumn
                                th.text-center Vehicle Number
                            if showOdometerColumn
                                th.text-center Odometer Reading
                            th.text-center Price (Rs.)
                            if showPriceDiscountColumn
                                th.text-center PriceDiscount (Rs.)
                            th.text-center Quantity
                            th.text-center Debit (Rs.)
                            th.text-center Credit (Rs.)
                            th.text-center Balance (Rs.)
                            th.text-center Narration
                    tbody
                        if(cidparam != -1)
                            tr
                                td &nbsp;
                                td.text-left Opening Balance
                                td &nbsp;
                                if showVehicleColumn
                                    td &nbsp;
                                if showOdometerColumn
                                    td &nbsp;
                                td &nbsp;
                                if showPriceDiscountColumn
                                    td &nbsp;
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                                td.text-right.font-weight-bold #{new Intl.NumberFormat('en-IN',{ minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(openingbalance)}
                                td &nbsp;
                        each val in creditstmt
                            tr(class=(val.price === null ? 'font-weight-bold text-success' : ''))
                                td(scope="row")= val.Date
                                td(scope="row")= val.Particulars
                                td(scope="row")= val.Product
                                if showVehicleColumn
                                    td.text-center(scope="row")= val['Vehicle Number']
                                if showOdometerColumn
                                    td.text-center(scope="row")= val['Odometer Reading']
                                td.text-right(scope="row")= val.Price
                                if showPriceDiscountColumn
                                    td.text-right(scope="row")= val['Price Discount']
                                td.text-right(scope="row")= val.Qty
                                td.text-right(scope="row") #{val.Debit !== null ? new Intl.NumberFormat('en-IN', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(val.Debit) : ''}
                                td.text-right(scope="row") #{val.Credit !== null ? new Intl.NumberFormat('en-IN', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(val.Credit) : ''}
                                td.text-right(scope="row") #{val.Balance !== null ? new Intl.NumberFormat('en-IN', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(val.Balance) : ''}
                                td(scope="row")= val.Narration
                        if(cidparam != -1)
                            tr
                                td &nbsp;
                                td.text-left Closing Balance
                                td &nbsp;
                                if showVehicleColumn
                                    td &nbsp;
                                if showOdometerColumn
                                    td &nbsp;
                                td &nbsp;
                                if showPriceDiscountColumn
                                    td &nbsp;
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                                td.text-right.font-weight-bold #{new Intl.NumberFormat('en-IN',{ minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(closingbalance)}
                                td &nbsp;
            div.col-12.text-right E &amp; OE
            div.col-12.text-center Any discrepencies in this report should be reported to the management within 2 days of the report being generated.
        else
            div.mt-3.bg-light.p-3 No Transactions.

        include overlay.pug

    script.
        // Override updateDateRange after deferred app-report-date.js has loaded
        document.addEventListener('DOMContentLoaded', function() {
            updateDateRange = function() {
            var dateRange = document.getElementById('dateRange').value;
            var fromDateInput = document.getElementById('fromclosingDate');
            var toDateInput = document.getElementById('toclosingDate');
            var fromGroup = document.getElementById('fromDateGroup');
            var toGroup = document.getElementById('toDateGroup');
            var currentDate = new Date();
            var fromDate, toDate;

            if (dateRange === 'this_month') {
                fromDate = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
                toDate = new Date();
            } else if (dateRange === 'last_month') {
                fromDate = new Date(currentDate.getFullYear(), currentDate.getMonth() - 1, 1);
                toDate = new Date(currentDate.getFullYear(), currentDate.getMonth(), 0);
            } else if (dateRange === 'this_financial_year') {
                var yr = currentDate.getFullYear(), mo = currentDate.getMonth();
                fromDate = mo < 3 ? new Date(yr - 1, 3, 1) : new Date(yr, 3, 1);
                toDate = new Date();
            } else if (dateRange === 'last_financial_year') {
                var yr = currentDate.getFullYear(), mo = currentDate.getMonth();
                fromDate = mo < 3 ? new Date(yr - 2, 3, 1) : new Date(yr - 1, 3, 1);
                toDate = mo < 3 ? new Date(yr - 1, 2, 31) : new Date(yr, 2, 31);
            } else {
                fromDate = null;
                toDate = null;
            }

            function toISO(d) {
                return new Date(Date.UTC(d.getFullYear(), d.getMonth(), d.getDate())).toISOString().split('T')[0];
            }

            if (fromDate) fromDateInput.value = toISO(fromDate);
            if (toDate) toDateInput.value = toISO(toDate);

            var show = dateRange === 'custom';
            fromGroup.style.display = show ? '' : 'none';
            toGroup.style.display = show ? '' : 'none';
            };
        });
