extends layout

block content
    form(method='POST' action='/reports-credit-ledger')
        table.center
            tr
                td Date Range:
                td
                    select#dateRange.form-control(onchange="updateDateRange()")
                        option(value='this_month') This Month
                        option(value='last_month') Last Month
                        option(value='this_financial_year') This Financial Year
                        option(value='last_financial_year') Last Financial Year
                        option(value='custom', selected=true) Custom Date
                td &nbsp;                   
                td#fromDateLabel From Date:
                td
                    input#fromclosingDate.form-control(type='date', name='fromClosingDate', value=fromClosingDate, max=currentDate, format="dd/mm/yyyy", required)
                td &nbsp;                   
                td#toDateLabel To Date:
                td
                    input#toclosingDate.form-control(type='date', name='toClosingDate', value=toClosingDate, max=currentDate, format="dd/mm/yyyy", required)
                td &nbsp;
                td Company Name:
                td
                    select#company_id.form-control(name='company_id')
                        if credits
                            option(value=-1, selected=company_id === -1 ? true : undefined) All
                            each val in credits
                                option(value=`${val.id}`, selected=company_id == val.id ? true : undefined)= val.name
                include report-print-download.pug
    div &nbsp;
    div
        if creditstmt && creditstmt.length > 0
            - var companyName = creditstmt[0].companyName
            - var cidparam = creditstmt[0].cidparam
            div.row &nbsp;
            h6.font-weight-bold.text-center= "Credit Ledger"
            if(cidparam == -1)
                h5.font-weight-bold.text-center.text-uppercase= 'All Companies'
            else
                h5.font-weight-bold.text-center.text-uppercase= companyName                 
                h6.text-center.text-muted= `${formattedFromDate}   to   ${formattedToDate}`      
            h4.font-weight-bold.text-success.text-center
            .container
                .row.justify-content-center
                    .col-12
                        if(cidparam != -1 && typeof totalDebits !== 'undefined' && typeof totalCredits !== 'undefined')
                            .alert.mb-4.period-summary(style="background: #f8f9fa; border: 1px solid #dee2e6; border-radius: 8px; padding: 20px;")
                                div(style="font-size: 1.1em; color: #495057; line-height: 1.6;")
                                    div(style="text-align: center; margin-bottom: 15px;")
                                        strong(style="font-size: 1.2em; color: #212529;") Period Summary
                                    div(style="text-align: right; margin-bottom: 4px;")
                                        span(style="display: inline-block; width: 80px; text-align: right; padding-right: 10px;") Opening: 
                                        span(style="font-weight: 600;")  #{new Intl.NumberFormat('en-IN', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(openingbalance)}
                                    div(style="text-align: right; margin-bottom: 4px;")
                                        span(style="display: inline-block; width: 80px; text-align: right; padding-right: 10px;") Invoices: 
                                        span(style="font-weight: 600;") #{new Intl.NumberFormat('en-IN', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(totalDebits)}
                                    div(style="text-align: right; margin-bottom: 4px;")
                                        span(style="display: inline-block; width: 80px; text-align: right; padding-right: 10px;") Payments: 
                                        span(style="font-weight: 600;") #{new Intl.NumberFormat('en-IN', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(totalCredits)}
                                    div(style="text-align: right; margin-bottom: 4px;")
                                        span(style="display: inline-block; width: 80px; text-align: right; padding-right: 10px;") Closing: 
                                        span(style="color: #495057;font-weight: 600;") #{new Intl.NumberFormat('en-IN', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(closingbalance)}
                        table.table.table-bordered.border.table-sm
                            thead(class="thead-light")
                                tr
                                    th.text-center Date                        
                                    th.text-center Particulars                                              
                                    th.text-center Debit (Rs.)
                                    th.text-center Credit (Rs.)
                                    th.text-center Balance (Rs.)
                                    th.text-center Narration
                            tbody
                                if(cidparam != -1)
                                    tr  
                                        td &nbsp;
                                        td.text-left.font-weight-bold Opening Balance
                                        td &nbsp;
                                        td &nbsp;                           
                                        td.text-right.font-weight-bold #{new Intl.NumberFormat('en-IN',{ minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(openingbalance)}                      
                                each val in creditstmt
                                    tr(class=(val.price === null ? 'font-weight-bold text-success' : ''))
                                        td.text-center(scope="row")= val.Date                            
                                        td.text-left(scope="row")= val.Particulars                                                        
                                        td.text-right(scope="row") #{val.Debit !== null ? new Intl.NumberFormat('en-IN', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(val.Debit) : ''}
                                        td.text-right(scope="row") #{val.Credit !== null ? new Intl.NumberFormat('en-IN', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(val.Credit) : ''}
                                        td.text-right(scope="row") #{val.Balance !== null ? new Intl.NumberFormat('en-IN', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(val.Balance) : ''}                            
                                        td(scope="row")= val.Narration                                                        
                                if(totalDebits > 0 || totalCredits > 0)
                                    tr.bg-light.font-weight-bold
                                        td &nbsp;
                                        td.text-left Total
                                        td.text-right #{new Intl.NumberFormat('en-IN', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(totalDebits)}
                                        td.text-right #{new Intl.NumberFormat('en-IN', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(totalCredits)}
                                        td &nbsp;
                                        td &nbsp;
                                if(cidparam != -1)
                                    tr
                                        td &nbsp;                                     
                                        td.text-left.font-weight-bold Closing Balance 
                                        td &nbsp;
                                        td &nbsp;                                                  
                                        td.text-right.font-weight-bold #{new Intl.NumberFormat('en-IN',{ minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(closingbalance)}                      
                        div.col-12.text-right E &amp; OE
                        div.col-12.text-center Any discrepencies in this report should be reported to the management within 2 days of the report being generated.                
        else
            div.row &nbsp;
            div.row.bg-light No Transactions.  

        // Include the overlay
        include overlay.pug

