extends layout

block content
    
    form(method='POST' action='/reports') 
        table.center
            tr
                td From Date:
                td
                    input#fromclosingDate.form-control(type='date', name='fromClosingDate', value=fromClosingDate max=currentDate format="dd/mm/yyyy" required)
                td &nbsp;
                td To Date:
                td
                    input#toclosingDate.form-control(type='date', name='toClosingDate', value=toClosingDate max=currentDate format="dd/mm/yyyy" required)
                td &nbsp;
                td Company Name:
                td
                    select#company_id.form-control(name='company_id')
                      if credits
                        option(value=-1, selected=company_id === -1 ? true : undefined) All
                          each val in credits
                            option(value=`${val.id}`, selected=company_id == val.id ? true : undefined)= val.name
                td &nbsp;
                td 
                    input(type="hidden" name="caller" value="notpdf")             
                td
                td
                    button.btn.btn-primary(type='submit') Go
                td                    
                    button.btn.btn-primary(
                        type='button', 
                        onClick='generatePDF(window.location.href)', 
                        id='enable-user', 
                        title='Report - DSR'                        
                    ) Print as PDF       
    div &nbsp;
    div
        
        if creditstmt && creditstmt.length > 0
            - var companyName = creditstmt[0].companyName
            - var cidparam = creditstmt[0].cidparam
            div.row &nbsp;
            h6.font-weight-bold.text-center= "Credit Detail Report"
            if(cidparam == -1)
                h5.font-weight-bold.text-center.text-uppercase= 'All Companies'
            else
                h5.font-weight-bold.text-center.text-uppercase= companyName                 
            h6.text-center.text-muted #{fromClosingDate} to #{toClosingDate}        
            h4.font-weight-bold.text-success.text-center
            table(class="table")
                thead(class="thead-light")
                    tr
                        th Date                        
                        th BillNo                      
                        th ProductName
                        th.text-right Price
                        th.text-right PriceDiscount
                        th.text-right Quantity
                        th.text-right Amount
                        th Notes
                tbody
                    
                    if(cidparam != -1) 
                        tr  
                            - for (let i = 0; i < 5; ++i) {
                            td &nbsp;
                            - }                        
                            td.text-center Opening Balance                           
                            td.text-danger.font-weight-bold #{new Intl.NumberFormat('en-IN',{ minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(openingbalance)}                      
                        
                    each val in creditstmt
                        tr(class=(val.price === null ? 'font-weight-bold text-success' : ''))
                            td(scope="row")= val.tranDate                            
                            td(scope="row")= val.billno                            
                            td(scope="row")= val.productName
                            td.text-right(scope="row")= val.price
                            td.text-right(scope="row")= val.price_discount
                            td.text-right(scope="row")= val.quantity
                            td.text-right(scope="row") #{new Intl.NumberFormat('en-IN',{ minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(val.amount)}
                            td(scope="row")= val.notes
                    if(cidparam != -1)
                        tr  
                            - for (let i = 0; i < 5; ++i) {
                            td
                            - }
                            td.text-center Closing Balance                                                   
                            td.text-danger.font-weight-bold #{new Intl.NumberFormat('en-IN',{ minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(closingbalance)}                      
                             
        else
            //- if(cidparam != -1) 
            //-     div.row &nbsp;
            //-     h6.font-weight-bold.text-center= "Credit Detail Report"
            //-     h5.font-weight-bold.text-center.text-uppercase #{company_id}                 
            //-     h6.text-center.text-muted #{fromClosingDate} to #{toClosingDate}        
            //-     h4.font-weight-bold.text-success.text-center
            //-     table(class="table")
            //-         tbody   
            //-             tr  
            //-                 - for (let i = 0; i < 5; ++i) {
            //-                 td &nbsp;
            //-                 - }                        
            //-                 td.text-center Balance                           
            //-                 td.text-danger.font-weight-bold #{new Intl.NumberFormat('en-IN',{ minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(openingbalance)}                      
            div.row &nbsp;
            div.row.bg-light No Transactions.                   
                            

    