extends layout

block content
    form(method='GET' action='/tankreceipts' id='receipts-by-date')
        table.center
            tr
                td From Date:
                td
                    input#tankreceipts_fromDate.form-control(type='date', name='tankreceipts_fromDate', value=fromDate max=currentDate format="dd/mm/yyyy" required)
                td &nbsp;
                td To Date:
                td
                    input#tankreceipts_toDate.form-control(type='date', name='tankreceipts_toDate', value=toDate max=currentDate format="dd/mm/yyyy" required)
                td &nbsp;
                td
                    button.btn.btn-primary(type='submit') Go
    div &nbsp;
    div 
        if tankReceiptsValues && tankReceiptsValues.length > 0
            table(class="table")
                thead(class="thead-light")
                    tr
                        th Invoice Date
                        th Invoice Number
                        th Decant Date
                        th Decant Time
                        th Decant Incharge
                        th TT Number
                        th Odometer
                        th Driver
                        th Helper
                        th MS
                        th HSD
                        th XMS
                        th Amount
                        th Status
                        th Edit/View
                        th Delete
                    tbody
                        each val in tankReceiptsValues
                            tr(id=`tank-receipt-${val.ttank_id}`)
                                td
                                   span= val.invoice_date
                                td
                                    span= val.invoice_number
                                td
                                    span= val.decant_date
                                td
                                    span= val.decant_time
                                td
                                    span= val.decant_incharge
                                td
                                    span= val.truck_number
                                td 
                                    span= val.odometer_reading
                                td
                                    span= val.driver
                                td
                                    span= val.helper
                                td
                                    span= val.MS
                                td
                                    span= val.HSD
                                td
                                    span= val.XMS
                                td 
                                    span= val.amount
                                td
                                    span= val.closingStatus
                                if (val.closingStatus === 'DRAFT')
                                    td
                                        div.row
                                        a.btn.btn-info(href='/edit-draft-tankrcpt?closingId='+val.ttank_id)
                                            span.oi.oi-pencil
                                    if(user.isAdmin)
                                        td
                                            div.row
                                            a.btn.btn-danger(onClick=`deleteTankReceipt(${val.ttank_id})`)
                                                span.oi.oi-trash
                                if (val.closingStatus === 'CLOSED')
                                    td
                                        div.row
                                        a.btn.btn-info(href='/edit-draft-tankrcpt?closingId=' + val.ttank_id)
                                            span.oi.oi-book
                                    td &nbsp;
        else
            div.row &nbsp;
            div.row.bg-light No records to display.
        
        div.row
        if(user.isAdmin)
            div.col &nbsp;
            form(method='GET' action='/new-decant' id='get-new-decant')
                div.row
                    div.col
                        button.btn.btn-primary(type='button' onclick='getNewDecantPage()') Add New
