extends layout

block content
    form(method='GET' action='/tankreceipts' id='receipts-by-date')
        table.center
            tr
                td Date Range:
                td
                    select#tankReceiptDateRange.form-control(onchange='updateTankReceiptDateRange()')
                        option(value='this_week') This Week
                        option(value='this_month' selected) This Month
                        option(value='last_month') Last Month
                        option(value='this_financial_year') This Financial Year
                        option(value='last_financial_year') Last Financial Year
                        option(value='custom') Custom Date
                td &nbsp;
                td#tankrcpt_fromDateLabel(style='display:none') From Date:
                td
                    input#tankreceipts_fromDate.form-control(type='date', name='tankreceipts_fromDate', value=fromDate max=currentDate required style='display:none')
                td &nbsp;
                td#tankrcpt_toDateLabel(style='display:none') To Date:
                td
                    input#tankreceipts_toDate.form-control(type='date', name='tankreceipts_toDate', value=toDate max=currentDate required style='display:none')
                td &nbsp;
                td
                    button.btn.btn-primary(type='submit') Go
    div &nbsp;
    div 
        if tankReceiptsValues && tankReceiptsValues.length > 0
            table(class="table")
                thead(class="thead-light")
                    tr
                        th Invoice Date
                        th Invoice Number
                        th Decant Date
                        th Decant Time
                        th Decant Incharge
                        th TT Number
                        th Odometer
                        th Driver
                        th Helper
                        if productColumns && productColumns.length > 0
                            each col in productColumns
                                th= col.label
                        else
                            th MS
                            th HSD
                            th XMS
                        th Amount
                        th Status
                        th Edit/View
                        th Delete
                    tbody
                        each val in tankReceiptsValues
                            tr(id=`tank-receipt-${val.ttank_id}`)
                                td
                                   span= val.invoice_date
                                td
                                    span= val.invoice_number
                                    if val.hasInvoice
                                        |
                                        button.btn.btn-link.btn-sm.p-0.ml-1(type='button' title='View Invoice' onclick=`showInvoicePreview('${val.invoice_number}')`)
                                            span.bi.bi-file-pdf-fill.text-danger
                                td
                                    span= val.decant_date
                                td
                                    span= val.decant_time
                                td
                                    span= val.decant_incharge
                                td
                                    span= val.truck_number
                                td 
                                    span= val.odometer_reading
                                td
                                    span= val.driver
                                td
                                    span= val.helper
                                if productColumns && productColumns.length > 0
                                    each col in productColumns
                                        td
                                            span= val[col.key]
                                else
                                    td
                                        span= val.MS
                                    td
                                        span= val.HSD
                                    td
                                        span= val.XMS
                                td
                                    span= val.amount
                                td
                                    span= val.closingStatus
                                if (val.closingStatus === 'DRAFT')
                                    td
                                        div.row
                                        a.btn.btn-info(href='/edit-draft-tankrcpt?closingId='+val.ttank_id)
                                            span.oi.oi-pencil
                                    if(user.isAdmin)
                                        td
                                            div.row
                                            a.btn.btn-danger(onClick=`deleteTankReceipt(${val.ttank_id})`)
                                                span.oi.oi-trash
                                if (val.closingStatus === 'CLOSED')
                                    td
                                        div.row
                                        a.btn.btn-info(href='/edit-draft-tankrcpt?closingId=' + val.ttank_id)
                                            span.oi.oi-book
                                    td &nbsp;
        else
            div.row &nbsp;
            div.row.bg-light No records to display.
        
        div.row
        if(user.isAdmin)
            div.col &nbsp;
            form(method='GET' action='/new-decant' id='get-new-decant')
                div.row
                    div.col
                        button.btn.btn-primary(type='button' onclick='getNewDecantPage()') Add New

    div.modal.fade#invoicePreviewModal(tabindex='-1' role='dialog' aria-labelledby='invoicePreviewTitle' aria-hidden='true')
        div.modal-dialog.modal-lg(role='document')
            div.modal-content
                div.modal-header.bg-light
                    h5.modal-title#invoicePreviewTitle Purchase Invoice
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                div.modal-body#invoicePreviewBody
                    div.text-center.text-muted Loading...
                div.modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
