extends layout
include mixins/mixins

block content
    form(method='GET' action='/truck-load')              
        table.center
            tr
                td From Date:
                td
                    input#fromDate.form-control(type='date', name='fromDate', value=fromDate max=currentDate format="dd/mm/yyyy" required)
                td &nbsp;
                td To Date:
                td
                    input#toDate.form-control(type='date', name='toDate', value=toDate max=currentDate format="dd/mm/yyyy" required)
                td &nbsp;
                td
                    button.btn.btn-primary(type='submit') Go
    br
    form(method='POST' action='/truck-load')
        input(type='hidden' id='truck_fromDate_hiddenValue' name='truck_fromDate_hiddenValue' value=fromDate)
        input(type='hidden' id='truck_toDate_hiddenValue' name='truck_toDate_hiddenValue' value=toDate)
        div
            div
                div.table-responsive
                    table.table#truckload-table
                        thead(class="thead-light")
                            tr   
                                th(scope="col") Invoice Date
                                th(scope="col") Invoice Number
                                th(scope="col") Decant Date
                                th(scope="col") Decant Time
                                th(scope="col") Decant Location
                                th(scope="col") Truck Number
                                th(scope="col") Driver
                                th(scope="col") Helper
                                th(scope="col") Odometer Reading
                                th(scope="col") MS
                                th(scope="col") HSD
                                th(scope="col") XMS
                                th(scope="col") Delete
                            tbody
                                - var prefix = 'tl_';
                                if truckLoadData && truckLoadData.length > 0
                                    each val, index in truckLoadData
                                        tr(id="truckload_row_"+index)
                                            td(scope="row")
                                                input.form-control(type="text" id="invoicedate_"+index value=val.invoice_date readonly)
                                            td(scope="row")
                                                input.form-control(type="text" id="invoiceno_"+index value=val.invoice_number readonly)
                                            td(scope="row")
                                                input.form-control(type="text" id="decantdate_"+index value=val.decant_date readonly)
                                            td(scope="row")
                                                input.form-control(type="text" id="decanttime_"+index value=val.decant_time readonly)
                                            td(scope="row")
                                                select#decantloc.form-control(name='decantloc' disabled)
                                                    if locations
                                                        each data in locations
                                                            option(value=`${data.id}` selected=(val.decant_location === data.id))= data.code
                                            td(scope="row")
                                                if trucks
                                                    each data in trucks
                                                        if (val.truck_number === data.truck_id)
                                                            input.form-control(type="text" id="truckno_"+index value=data.truck_number readonly)
                                            td(scope="row")
                                                if drivers
                                                    each data in drivers
                                                        if(data.personId === val.driver)
                                                            input.form-control(type="text" id="driver_"+index value=data.personName readonly)
                                            td(scope="row")
                                                if drivers
                                                    each data in drivers
                                                        if(data.personId === val.helper)
                                                            input.form-control(type="text" id="helper_"+index value=data.personName readonly)              
                                            td(scope="row")
                                                input.form-control(type="text" id="odometer_"+index value=val.odometer_reading readonly)
                                            td(scope="row")
                                                input.form-control(type="text" id="MS_"+index value=val.MS readonly)
                                            td(scope="row")
                                                input.form-control(type="text" id="HSD_"+index value=val.HSD readonly)
                                            td(scope="row")
                                                input.form-control(type="text" id="XMS_"+index value=val.XMS readonly)
                                            if(!val.ttank_id)
                                                td(scope="row")
                                                    div(class="row flex-nowrap")
                                                        a.btn.btn-danger(id="receipt-delete-" + index onclick="deleteTruckLoad('truckload_row_"+ index+"','" + val.tload_id + "')")
                                                            span.oi.oi-trash
                            - var rowCnt = 0
                            while rowCnt < 1
                                +addTxnTruckLoad(rowCnt++)
            if trucklocs && trucklocs.length >0
                div(align="center")
                    button.btn.btn-info(type="button", id="truckload-add-new" onClick="showMasterEntryRow(this, 'truckload')" title="Only one can be added at a time.") Add New
                    span &nbsp;&nbsp;&nbsp;&nbsp;
                    button.btn.btn-primary(type="submit", id="truckload-save" disabled=true, title="Enabled on 'Add New'") Save