extends layout
include mixins/mixins

block content
    form(method='GET' action='/truck-expense')
        table.center
            tr
                td From Date:
                td
                    input#expfromDate.form-control(type='date', name='expfromDate', value=fromDate max=currentDate format="dd/mm/yyyy" required)
                td &nbsp;
                td To Date:
                td
                    input#exptoDate.form-control(type='date', name='exptoDate', value=toDate max=currentDate format="dd/mm/yyyy" required)
                td &nbsp;
                td
                    button.btn.btn-primary(type='submit') Go
    br
    form(method='POST' action='/truck-expense')
        input(type='hidden' id='exp_fromDate_hiddenValue' name='exp_fromDate_hiddenValue' value=fromDate)
        input(type='hidden' id='exp_toDate_hiddenValue' name='exp_toDate_hiddenValue' value=toDate)   
        div 
            div.col-16
                div.table-responsive
                    table.table#truckexpense-table
                        tbody.w-100
                            thead.thead-light
                                tr
                                    th(scope="col") Truck Number
                                    th(scope="col") Date
                                    th(scope="col") Expense Type
                                    th(scope="col") Amount
                                    th(scope="col") Payment Mode
                                    th(scope="col") Quantity
                                    th(scope="col") Notes
                                    th(scope="col") Cost center
                                    th(scope="col") Delete
                                tbody
                                    - var prefix = 'tl_';
                                    if expenseData && expenseData.length > 0
                                        each val, index in expenseData
                                            tr(id="truckexpense_row_"+index)
                                                td(scope="row")
                                                    if trucks
                                                        each data in trucks
                                                            if (val.truck_id === data.truck_id)
                                                                input.form-control(type="text" id="truckno_"+index value=data.truck_number readonly)
                                                td(scope="row")
                                                    input.form-control(type="text" id="expensedate_"+index value=val.expense_date readonly)
                                                td(scope="row")
                                                    if expenseTypes
                                                        each data in expenseTypes
                                                            if(data.id === val.expense_id)
                                                                input.form-control(type="text" id="expenseid_"+index value=data.expense readonly)
                                                td(scope="row")
                                                    input.form-control(type="number" id="expenseamt_"+index value=val.amount readonly)
                                                td(scope="row") 
                                                    if paymentModes
                                                        each data in paymentModes
                                                            if(data.id === val.payment_mode)
                                                                input.form-control(type="text" id="paymentmode_"+index value=data.paymode readonly)              
                                                td(scope="row")
                                                    input.form-control(type="number" id="qty_"+index value=val.qty readonly)
                                                td(scope="row")
                                                    input.form-control(type="text" id="notes_"+index value=val.notes readonly)
                                                td(scope="row")
                                                    if locations
                                                        each data in locations
                                                            if(data.id === val.costcenter_id)
                                                                input.form-control(type="text" id="costcenter_"+index value=data.code readonly)
                                                if(val.showDelete)
                                                    td(scope="row")
                                                        div(class="row flex-nowrap")
                                                            a.btn.btn-danger(id="receipt-delete-" + index onclick="deleteTruckExpense('truckexpense_row_"+ index+"','" + val.truckexp_id + "')")
                                                                span.oi.oi-trash
                                    - var rowCnt = 0
                                    while rowCnt < 1
                                        +addTxnTruckExpense(rowCnt++)
                                    
                    div(align="center")
                        button.btn.btn-info(type="button", id="truckexpense-add-new" onClick="showMasterEntryRow(this, 'truckexpense')" title="Only one can be added at a time.") Add New
                        span &nbsp;&nbsp;&nbsp;&nbsp;
                        button.btn.btn-primary(type="submit", id="truckexpense-save" disabled=true, title="Enabled on 'Add New'") Save