extends layout
include mixins/mixins

block content
    form(method='POST' action='/users')
        table(class="table" id="users-table")
            thead(class="thead-light")
                tr
                    th(scope="col") #
                    th(scope="col") Name
                    th(scope="col") UserName
                    th(scope="col") Role
                    th(scope="col") &nbsp;
                tbody
                    each val, index in users
                        tr
                            th(scope="row")= index + 1
                            td(scope="row")= val.name
                            td(scope="row")= val.username
                            td(scope="row")= val.role
                            td(scope="row")
                    - var rowCnt = 0
                    while rowCnt < 1
                        +addNewUser(rowCnt++)
        div(align="center")
            button.btn.btn-info(type="button", onClick="showMasterEntryRow(this, 'users')", id='users-add-new' title="Only one can be added at a time.") Add New
            span &nbsp;&nbsp;&nbsp;&nbsp;
            button.btn.btn-primary(type="submit", disabled=true, title="Enabled on 'Add New'", id='users-save') Save
