//- add new credit
mixin addMasterCredit(rowCnt)
    - let id = 'credit-master-table-row-' + rowCnt;
    tr(class='d-md-none' id=id)
        th(scope="row")
        td(scope="row")
            input.form-control(type='text', name='m_credit_name_'+ rowCnt, id='m_credit_name_'+ rowCnt, required)
        td(scope="row")
            select.form-control(name='m_credit_type_' + rowCnt, id='m_credit_type_' + rowCnt, required)
                option(value="Credit") Credit
                option(value="Suspense") Suspense
        td(scope="row")
            input.form-control(type='text', name='m_credit_short_name_' + rowCnt, id='m_credit_short_name_' + rowCnt, required)
        td(scope="row")
            textarea.form-control(name='m_credit_address_' + rowCnt, id='m_credit_address_' + rowCnt, required style='height:36px')
        td(scope="row")
            input.form-control(type='tel', name='m_credit_phoneno_' + rowCnt, id='m_credit_phoneno_' + rowCnt, required placeholder="9999999999" pattern="[0-9]{10}")
        td(scope="row")
            input.form-control(type='text', name='m_credit_gst_' + rowCnt, id='m_credit_gst_' + rowCnt, required)
        td(scope="row")
            input.form-control(type='number', name='m_credit_balance_'+ rowCnt, id='m_credit_balance_'+ rowCnt, min=0 oninput='validity.valid||(value="")', value=0, readonly)
        td(scope="row")
            button.close(type="button" aria-label="Close"  onclick='hideMasterEntryRow(\'credit-master\', \'' + id + '\')', id = id + '_close')
                span(aria-hidden="true") &times;



mixin addMasterDigital(index)
    tr(id='digital-master-table-row-' + index, class='d-md-none')
        th(scope="row") New
        td
            input.form-control(type='text', name='m_digital_name', placeholder='Company Name', required)
        td
            input.form-control(type='tel', name='m_digital_phoneno', placeholder='Phone Number')
        td
            input.form-control(type='text', name='m_digital_gst', placeholder='GST Number')
        td
            button.close(type="button" aria-label="Close" onclick='hideMasterEntryRow(\'digital-master\', \'digital-master-table-row-' + index + '\')')
                span(aria-hidden="true") &times;

mixin addTxnReceipt(rowCnt)
    - let id = 'creditReceipts-table-row-' + rowCnt;
    - const prefix = 'cr_';
    - var creditId = undefined, creditType = config.creditTypes[0];
    if(activeCreditCompanyValues && activeCreditCompanyValues[0])
        - creditId = activeCreditCompanyValues[0].creditorId;
    tr(class='d-md-none' id=id)
        th(scope="row")
        td(scope="row")
            input.form-control(
                type='date', 
                name='txn_receipt_date_'+ rowCnt, 
                id='txn_receipt_date_'+ rowCnt, 
                value=currentDate, 
                required, 
                max=currentDate, 
                min=minDateForNewReceipts
            )
        td(scope="row")
            input.form-control(
                type='number', 
                name='creditreceiptno_' + rowCnt, 
                id='creditreceiptno_' + rowCnt, 
                required
            )
        td(scope="row")
            select.form-control(
                name=prefix + 'receiptType_' + rowCnt, 
                id=prefix + 'receiptType_' + rowCnt,
                onChange='toggleReceiptRelatedDropdowns(this,' + rowCnt + ', "' + prefix + '", ' + JSON.stringify(config.creditTypes) + ')'
            )
                if config.receiptTypes
                    each val in config.receiptTypes
                        if val.allow_manual_entry
                            option(value=val.label)= val.label
        td(scope="row")
            input(type='hidden', id=prefix + 'companyId_' + rowCnt, name=prefix + 'companyId_' + rowCnt, value=creditId)
            select.form-control(
                name=prefix + 'type-' + rowCnt, 
                id=prefix + 'type-' + rowCnt, 
                onChange='toggleReceiptRelatedDropdowns(this,' + rowCnt + ', "' + prefix + '", ' + JSON.stringify(config.creditTypes) + ')'
            )
                if config.creditTypes
                    each val in config.creditTypes
                        if val === 'Credit'
                            // Only show Credit option if activeCreditCompanyValues exist
                            if activeCreditCompanyValues && activeCreditCompanyValues.length > 0
                                option(value=val)= val
                        else if val === 'Suspense'
                            // Only show Suspense option if suspenseValues exist
                            if suspenseValues && suspenseValues.length > 0
                                option(value=val)= val
                        else
                            // Show other credit types without condition (if any)
                            option(value=val)= val
        
        // Credit Party column - TWO SEPARATE DROPDOWNS like the original working code
        td(scope="row")
            // Credit dropdown (first credit type)
            - var displayType1Class = 'd-md-none'
            if creditType === config.creditTypes[0]
                - displayType1Class = 'd-md-block'
            select.form-control(
                name=prefix + config.creditTypes[0] + '-' + rowCnt, 
                id=prefix + config.creditTypes[0] + '-' + rowCnt, 
                class=displayType1Class, 
                onChange='updateHiddenCreditId(this, "' + prefix + '", ' + rowCnt + ')'
            )
                option(value="") Select Credit Party
                if activeCreditCompanyValues
                    each val in activeCreditCompanyValues
                        option(value=val.creditorId)= val.creditorName
            
            // Suspense dropdown (second credit type)
            - var displayType2Class = 'd-md-none'  
            if creditType === config.creditTypes[1]
                - displayType2Class = 'd-md-block'
            select.form-control(
                name=prefix + config.creditTypes[1] + '-' + rowCnt, 
                id=prefix + config.creditTypes[1] + '-' + rowCnt, 
                class=displayType2Class, 
                onChange='updateHiddenCreditId(this, "' + prefix + '", ' + rowCnt + ')'
            )
                option(value="") Select Suspense Account
                if suspenseValues
                    each val in suspenseValues
                        option(value=val.creditorId)= val.creditorName
        
        // Digital Vendor column - new separate column
        td(scope="row")
            select.form-control(
                name=prefix + 'digitalcreditparty_' + rowCnt,
                id=prefix + 'digitalcreditparty_' + rowCnt,                
                disabled
            )
                option(value="") Select Digital Vendor
                if digActiveCreditCompanyValues
                    each val in digActiveCreditCompanyValues
                        option(value=val.creditorId)= val.creditorName
        
        td(scope="row")
            input.form-control(
                type='number', 
                name='cramount_' + rowCnt, 
                id='cramount_' + rowCnt, 
                required, 
                step=0.01
            )
        td(scope="row")
            input.form-control(
                type='text', 
                name='crnotes_' + rowCnt, 
                id='crnotes_' + rowCnt, 
                required
            )
        td(scope="row")
            button.close(
                type="button",
                aria-label="Close",
                onclick='hideMasterEntryRow("creditReceipts", "' + id + '")',
                id=id + '_close'
            )
                span(aria-hidden="true") &times;

mixin addMasterProduct(rowCnt)
    - let id = 'product-master-table-row-' + rowCnt;
    tr(class='d-md-none' id=id)
        th(scope="row")
        td(scope="row")
            // Product Name: allow user to type and then convert after a delay
            input.form-control(
                type='text', 
                name='m_product_name_'+ rowCnt, 
                id='m_product_name_'+ rowCnt, 
                required, 
                placeholder="Enter Product Name", 
                oninput="delayedUpperCase(this)"
            )
            //- Hidden qty field with default value 1
            input(type='hidden', name='m_product_qty_'+ rowCnt, id='m_product_qty_'+ rowCnt, value="1")
        td(scope="row")
            // SKU Name: allow user to type then convert
            input.form-control(
                type='text', 
                name='m_product_sku_name_'+ rowCnt, 
                id='m_product_sku_name_'+ rowCnt, 
                required, 
                placeholder="Enter SKU Name", 
                oninput="delayedUpperCase(this)"
            )
        td(scope="row")
            // SKU Number: allow user to type then convert
            input.form-control(
                type='text', 
                name='m_product_sku_number_'+ rowCnt, 
                id='m_product_sku_number_'+ rowCnt, 
                required, 
                placeholder="Enter SKU Number", 
                oninput="delayedUpperCase(this)"
            )
        td(scope="row")
            // HSN Code: allow user to type then convert
            input.form-control(
                type='text', 
                name='m_product_hsn_code_'+ rowCnt, 
                id='m_product_hsn_code_'+ rowCnt, 
                placeholder="Enter HSN Code", 
                oninput="delayedUpperCase(this)"
            )
        td(scope="row")
            select.form-control(
                id='m_product_unit_'+ rowCnt, 
                name='m_product_unit_'+ rowCnt, 
                required
            )
                option(value="" disabled selected) Select Unit
                if config.productUnits
                    each val in config.productUnits
                        option(value=`${val}`)= val
        td(scope="row")
            .input-group
                input.form-control(
                    type='number', 
                    name='m_product_price_' + rowCnt, 
                    id='m_product_price_' + rowCnt, 
                    min=0, 
                    oninput='validity.valid||(value="")', 
                    value=0, 
                    required, 
                    step=0.01
                )
                .input-group-append
                    span.input-group-text Price (₹)
        td(scope="row")
            input.form-control(
                type='text', 
                name='m_product_ledger_name_'+ rowCnt, 
                id='m_product_ledger_name_'+ rowCnt, 
                required, 
                placeholder="Enter Ledger Name"
            )
        td(scope="row")
            .input-group
                input.form-control(
                    type='number', 
                    name='m_product_cgst_'+ rowCnt, 
                    id='m_product_cgst_'+ rowCnt, 
                    min=0, 
                    value=0, 
                    required, 
                    step=0.01
                )
                .input-group-append
                    span.input-group-text CGST %
        td(scope="row")
            .input-group
                input.form-control(
                    type='number', 
                    name='m_product_sgst_'+ rowCnt, 
                    id='m_product_sgst_'+ rowCnt, 
                    min=0, 
                    value=0, 
                    required, 
                    step=0.01
                )
                .input-group-append
                    span.input-group-text SGST %
        td(scope="row")
            button.close(
                type="button", 
                aria-label="Close", 
                onclick='hideMasterEntryRow("product-master", "' + id + '")', 
                id=id + '_close'
            )
                span(aria-hidden="true") &times;

//- add new user with role-based restrictions and auto-username
mixin addNewUser(rowCnt, userRole)
    - let id = 'users-table-row-' + rowCnt;
    tr(class='d-md-none' id=id)
        th(scope="row")
        td(scope="row")
            input.form-control(type='text', name='m_user_name_'+ rowCnt, id='m_user_name_'+ rowCnt, required, oninput='validateAndGenerateUsername(' + rowCnt + ')', placeholder='Enter full name (CAPS only)', maxlength='20', title='Only capital letters and spaces allowed')
        td(scope="row")
            input.form-control(type='text', name='m_user_username_'+ rowCnt, id='m_user_username_'+ rowCnt, placeholder='Auto-generated from name', readonly)
            small.text-muted Username will be generated automatically
        td(scope="row")
            select.form-control(name='m_user_role_' + rowCnt, id='m_user_role_' + rowCnt, required)
                if userRole === 'SuperUser'
                    option Admin
                    option Manager
                    option Cashier
                    option Driver
                    option Helper
                else if userRole === 'Admin'
                    option Manager
                    option Cashier
                    option Driver
                    option Helper
                else if userRole === 'Manager'
                    option Cashier
                    option Driver
                    option Helper                
        td(scope="row")
            button.close(type="button" aria-label="Close"  onclick='hideMasterEntryRow(\'users\', \'' + id + '\')', id = id + '_close')
                span(aria-hidden="true") &times;

mixin addNewVehicle(rowCnt)
    tr(id='vehicles-table-row-' + rowCnt, class='d-md-none')
        th(scope="row") #
        td
            input.form-control(type='text', name='m_vehicle_number_' + rowCnt, id='m_vehicle_number_' + rowCnt, placeholder='Enter vehicle number', required)
        td
            select.form-control(name='m_vehicle_type_' + rowCnt, id='m_vehicle_type_' + rowCnt, required)
                option(value='') Select Vehicle Type
                option(value='Truck') Truck
                option(value='Tanker') Tanker
                option(value='Trailer') Trailer
                option(value='Car') Car
                option(value='Bike') Bike
                option(value='Bus') Bus
                option(value='Other') Other
        td
            button.btn.btn-danger.btn-sm(type='button', onclick='hideRow("vehicles-table-row-' + rowCnt + '", "", "")', title='Remove this row')
                span.oi.oi-x
        input(type='hidden', name='vehicles_' + rowCnt + '_hiddenId', id='vehicles_' + rowCnt + '_hiddenId')


mixin addNewSupplier(rowCnt)
    - let id = 'suppliers-table-row-' + rowCnt;
    tr(class='d-md-none' id=id)
        th(scope="row")
        td(scope="row")
            input.form-control(type='text', name='supplier_name_'+ rowCnt, id='supplier_name_'+ rowCnt, placeholder="Supplier Name", required)
        td(scope="row")
            input.form-control(type='text', name='supplier_short_name_'+ rowCnt, id='supplier_short_name_'+ rowCnt, placeholder="Short Name", required)
        td(scope="row")
            button.close(type="button" aria-label="Close" onclick='hideMasterEntryRow(\'suppliers\', \'' + id + '\')', id = id + '_close')
                span(aria-hidden="true") &times;

//- cash flow header
mixin addCashFlowHeader()
    tr
        th(scope="col" width="30%") Transaction
        th(scope="col" width="40%") Remarks
        th(scope="col" width="25%") Amount
        th(scope="col" width="5%")

//- exiting cash flow entry
mixin addCashFlowEntry(val, flow, prefix, rowCnt)
    - let trRowId = prefix + 'table-row-' + rowCnt;
    - let creditLabel = config.cashSaleTypes[0];
    - let debitLabel = config.cashSaleTypes[1];
    - let calculateTotalFn = 'calculateCashflowCreditTotal'
    if flow === debitLabel
        - calculateTotalFn = 'calculateCashflowDebitTotal'
    if val.calcFlag === 'Y'
        tr(id=trRowId)
            td
                select.form-control(readonly)
                    option(value=val.type selected)= val.type
            td
                input.form-control(readonly value=val.description)
            td
                input.form-control(id=prefix + 'amt-'+ rowCnt readonly value=val.amount)
            td &nbsp;
    else
        tr(id=trRowId)
            input(type='hidden' id=prefix + rowCnt + '_hiddenId' value=val.txn_id)
            td
                select.form-control(name=prefix + 'transaction-'+ rowCnt, id=prefix+'transaction-'+ rowCnt, required)
                    if debitOptions && flow === debitLabel
                        each option in debitOptions
                            option(value=`${option.id}` selected=(option.name === val.type))= option.name
                    if creditOptions && flow === creditLabel
                        each option in creditOptions
                            option(value=option.id selected=(option.name === val.type))= option.name
            td
                input.form-control(name=prefix+'remarks-'+ rowCnt, id=prefix+'remarks-'+ rowCnt, value=val.description)
            td
                input.form-control(name=prefix+'amt-'+ rowCnt, id=prefix+'amt-'+ rowCnt, required, value=val.amount type="number" step=0.01 onchange="calculateTotal('" +prefix +"')")
                div.invalid-feedback Amount is required.
            td
                button.close(type="button" aria-label="Close"  onclick='hideRow(\''+ trRowId + '\', "remove-cashflow-txn", ' + calculateTotalFn + ')')
                    span(aria-hidden="true") &times;

//- new cash flow entry
mixin newCashFlowEntry(flow, prefix, rowCnt)
    - let trRowId = prefix + 'table-row-' + rowCnt;
    - let creditLabel = config.cashSaleTypes[0];
    - let debitLabel = config.cashSaleTypes[1];
    - let calculateTotalFn = 'calculateCashflowCreditTotal'
    if flow === debitLabel
        - calculateTotalFn = 'calculateCashflowDebitTotal'
    tr(class='d-md-none' id=trRowId)
        input(type='hidden' id=prefix + rowCnt + '_hiddenId')
        td
            select.form-control(name=prefix+'transaction-'+ rowCnt, id=prefix+'transaction-'+ rowCnt, required)
                if debitOptions && flow === debitLabel
                    each val in debitOptions
                        option(value=`${val.id}`)= val.name
                if creditOptions && flow === creditLabel
                    each val in creditOptions
                        option(value=`${val.id}`)= val.name
        td
            input.form-control(name=prefix+'remarks-'+ rowCnt, id=prefix+'remarks-'+ rowCnt)
        td
            input.form-control(name=prefix+'amt-'+ rowCnt, id=prefix+'amt-'+ rowCnt, required type="number" step=0.01 onchange="calculateTotal('" +prefix +"')")
            div.invalid-feedback Amount is required.
        td
            button.close(type="button" aria-label="Close"  onclick='hideRow(\''+ trRowId + '\', "remove-cashflow-txn", ' + calculateTotalFn + ')')
                span(aria-hidden="true") &times;

//- Add new page: Dom elements to show cash sale details
mixin addDecantLines(decantRowno,rowData)
    - var prefix = 'tankReceipts-';
    - var trId = prefix + 'table-row-'+decantRowno;
    - var trClass = 'd-md-none';
    - var price = 0;
    if(!rowData)
        - rowData = {tdtank_id:0, quantity: config.tankQuantity[0],opening_dip:0, closing_dip:0, amount:price,EB_MS_FLAG:'N'};
    if(rowData.tdtank_id&& parseInt(rowData.tdtank_id) > 0)
        - trClass = ''
    tr(class=trClass id=trId)
        input(type='hidden' id=prefix + decantRowno + '_hiddenId' value=rowData.tdtank_id)
        td
            select.form-control(id=prefix+"tank_" + decantRowno, name=prefix+"tank_" + decantRowno, required)
                if tanks
                    each val in tanks
                        option(value=`${val.tankId}` selected=(val.tankId === rowData.tank_id))= val.tankCode    
        td
            select.form-control(id=prefix+"tankqty_" + decantRowno, name=prefix+"tankqty_" + decantRowno, required)
                if config.tankQuantity
                    each val in config.tankQuantity
                        option(value=`${val}` selected= (rowData.quantity === val))= val
        td
            input.form-control(type="checkbox", id=prefix+"eb_" + decantRowno, name= prefix+"eb_" + decantRowno, value=rowData.EB_MS_FLAG, onClick="changeEBflag('"+prefix+"',"+decantRowno+")" checked=('Y'===rowData.EB_MS_FLAG))
                
        td
            input.form-control(type="number",name=prefix+"opening_dip_" + decantRowno, id=prefix+"opening_dip_" + decantRowno value=rowData.opening_dip min=0 step=0.01, required)
        td
            input.form-control(type="number", name=prefix+"closing_dip_" + decantRowno, id=prefix+"closing_dip_" + decantRowno value=rowData.closing_dip min=0  step=0.01, required)
        td
            textarea.form-control(name=prefix + "notes_" + decantRowno id=prefix+"notes_"+ decantRowno style="height:36px")= rowData.notes
        td
            input.form-control(name=prefix+"amt_"+ decantRowno, id=prefix+"amt_"+ decantRowno, required type="number" step=0.01, min=0, oninput='validity.valid||(value="")', value=rowData.amount)
            div.invalid-feedback Amount is required.
        td
            button.close(type="button" aria-label="Close" onclick='hideRow(\'' + trId + '\',"remove-decant-line")')
                span(aria-hidden="true") &times;

mixin addTxnTruckLoad(rowCnt)
    - let id = 'truckload-table-row-' + rowCnt;
    - const prefix = 'tl_';
    tr(class='d-md-none' id=id)
        //th(scope="row")
        td(scope="row")
            input.form-control(type='date', name='txn_invoice_date_'+ rowCnt, id='txn_invoice_date_'+ rowCnt, value= currentDate required max=currentDate)
        td(scope="row")
            input.form-control(type='text', name='invoiceno_' + rowCnt, id='invoiceno_' + rowCnt, required)
        td(scope="row")
            input.form-control(type='date', name='txn_decant_date_'+ rowCnt, id='txn_decant_date_'+ rowCnt, value= currentDate required max=currentDate)
        td(scope="row")
            select.form-control(name='decanttime_' + rowCnt, id= 'decanttime_' + rowCnt)
                if config.decantTimelists
                    each val in config.decantTimelists
                        option(value=`${val}`)= val
        td(scope="row")
            select.form-control(name='decantloc_' + rowCnt, id= 'decantloc_' + rowCnt)
                if trucklocs
                    each val in trucklocs
                        option(value=`${val.decloc_id}`)= val.decloc_code
        td(scope="row")
            select.form-control(name= 'truckno_' + rowCnt id='truckno_' + rowCnt)
                if trucks
                    each val in trucks
                        option(value=`${val.truck_id}`)= val.truck_number
        td(scope="row")
            select.form-control(name='driverid_'+ rowCnt id='driverid_' + rowCnt required)
                if drivers
                    each val in drivers
                        option(value=`${val.personId}`)= val.personName
        td(scope="row")
            select.form-control(name='helperid_'+ rowCnt id='heplerid_' + rowCnt required)
                if drivers
                    each val in drivers
                        option(value=`${val.personId}`)= val.personName
        td(scope="row")
            input.form-control(type='number', name='odometer_' + rowCnt, id='odometer_' + rowCnt min=0, required)
        td(scope="row")
            select.form-control(id='MSQty_'+rowCnt, name='MSQty_'+rowCnt)
                option(value=0)=0
                if config.tankQuantity
                    each val in config.tankQuantity
                        option(value=`${val}`)= val
        td(scope="row")
            select.form-control(id='HSDQty_'+rowCnt, name='HSDQty_'+rowCnt)
                option(value=0)=0
                if config.tankQuantity
                    each val in config.tankQuantity
                        option(value=`${val}`)= val
        td(scope="row")
            select.form-control(id='XMSQty_'+rowCnt, name='XMSQty_'+rowCnt)
                option(value=0)=0
                if config.tankQuantity
                    each val in config.tankQuantity
                        option(value=`${val}`)= val
        td(scope="row")
            button.close(type="button" aria-label="Close"  onclick='hideMasterEntryRow(\'truckload\', \'' + id + '\')', id = id + '_close')
                span(aria-hidden="true") &times;

mixin addTxnTruckExpense(rowCnt)
    - let id = 'truckexpense-table-row-' + rowCnt;
    - const prefix = 'tl_';
    tr(class='d-md-none' id=id)
        //th(scope="row")
        td(scope="row")
            select.form-control(name= 'truckno_' + rowCnt id='truckno_' + rowCnt required)
                if trucks
                    each val in trucks
                        option(value=`${val.truck_id}`)= val.truck_number
        td(scope="row")
            input.form-control(type='date', name='txn_exp_date_'+ rowCnt, id='txn_exp_date_'+ rowCnt, value= currentDate required max=currentDate)
        td(scope="row")
            select.form-control(name= 'expenseType_' + rowCnt id='expenseType_'+ rowCnt required)
                if expenseTypes
                    each val in expenseTypes
                        option(value=`${val.id}`)= val.expense
        td(scope="row")
            input.form-control(type='number', name='expamount_' + rowCnt, id='expamount_' + rowCnt min=0 step=0.01 oninput='validity.valid||(value="")' required)
        td(scope="row")
            select.form-control(name= 'payment_mode_' + rowCnt id='payment_mode_'+ rowCnt required)
                if paymentModes
                    each val in paymentModes
                        option(value=`${val.id}`)= val.paymode
        td(scope="row")
            input.form-control(type='number', name='expqty_' + rowCnt, id='expqty_' + rowCnt min=0, required)
        td(scope="row")
            textarea.form-control(name="expnotes_" + rowCnt id="expnotes_"+ rowCnt style="height:36px")
        td(scope="row")
            input.form-control(type='text', name='exploc_code_' + rowCnt, id='exploc_code_' + rowCnt, value=locationcode readonly)
            if locations
                each data in locations
                    if(data.code === locationcode)
                        input.form-control(type='hidden', name='expcost_center_' + rowCnt, id='expcost_center_' + rowCnt, value=data.id)
        td(scope="row")
            button.close(type="button" aria-label="Close"  onclick='hideMasterEntryRow(\'truckexpense\', \'' + id + '\')', id = id + '_close')
                span(aria-hidden="true") &times;

mixin addTxnAccount(rowCnt) 
    - const isTemplate = rowCnt === 'template';   
        td(scope="row")
            input.form-control(type='date', name='trans_date_'+ rowCnt, id='trans_date_'+ rowCnt, value= currentDate required max=currentDate  disabled=isTemplate)
        td(scope="row")
            select.form-control(name= 'acctno_' + rowCnt id='acctno_' + rowCnt required  disabled=isTemplate)
                if accountList
                    each val in accountList
                        option(value=`${val.bank_id}`)= val.nickname
        td(scope="row")
            select.form-control(name= 'trans_type_' + rowCnt id='trans_type_'+ rowCnt required  disabled=isTemplate)
                if TxnTypes
                    each val in TxnTypes
                        option(value=`${val.id}`)= val.txntype        
        td(scope="row")
            select.form-control(
                name="ledger_selector_" + rowCnt, 
                id="ledger_selector_" + rowCnt,
                required,
                onChange="updateLedgerFields(" + rowCnt + ")",
                disabled=isTemplate
            )
                option(value='') Select Ledger
                if ledgerList
                    each ledger in ledgerList
                        option(
                            value=ledger.id,
                            data-source=ledger.source,
                            data-name=ledger.name
                        )= ledger.name + ' (' + ledger.source + ')'

            // Separate hidden fields for clean mapping
            input(type="hidden", name="external_id_" + rowCnt, id="external_id_" + rowCnt)
            input(type="hidden", name="external_source_" + rowCnt, id="external_source_" + rowCnt)
            input(type="hidden", name="ledgername_" + rowCnt, id="ledgername_" + rowCnt)            
        td(scope="row")
            input.form-control(type='number', name='debitamount_' + rowCnt, id='debitamount_' + rowCnt, min=0 max=10000000 step=0.01 oninput="disableCreditInput('"+rowCnt+"')" disabled=false)
        td(scope="row")
            input.form-control(type='number', name='creditamount_' + rowCnt, id='creditamount_' + rowCnt, min=0 max=10000000  step=0.01 oninput="disableDebitInput('"+rowCnt+"')" disabled=false)        
        td(scope="row")
            textarea.form-control(name="banknotes_" + rowCnt id="banknotes_"+ rowCnt style="height:36px")        
        td(scope="row")
        td(scope="row")
            button.btn.btn-danger(type="button" onclick="removeBankTxnRow('banktransaction-table-row-" + rowCnt + "')") ×
                span(aria-hidden="true") &times;
//- add new product
mixin addMasterDeadline(rowCnt)
    - let id = 'deadline-master-table-row-' + rowCnt;
    tr(class='d-md-none' id=id)
        input.form-control(type="hidden" id="location_id" name="location_id" value=location_id)
        th(scope="row")
        td(scope="row")
            input.form-control(type="date" id="deadline_date_"+rowCnt name="deadline_date_"+rowCnt, format="dd/mm/yyyy" required)
        td(scope="row")
            select.form-control(id="purpose_"+rowCnt name=id="purpose_"+rowCnt)
                if  deadlineTypes
                    each deadline in deadlineTypes
                        option(value=`${deadline.id}`)= deadline.type
        td(scope="row")
            input.form-control(type="number" id="warning_day_"+rowCnt name="warning_day_"+rowCnt min=1 max=100 required step=1)
        td(scope="row")
            input.form-control(type="checkbox", id="hard_stop_"+rowCnt, name="hard_stop_"+rowCnt onClick="changeCheckValue('hard-stop_',"+rowCnt+")")
        td(scope="row")
            input.form-control(type="checkbox", id="closed_"+rowCnt, name="closed_"+rowCnt  onClick="changeClosedValue('closed_',"+rowCnt+")")
        td(scope="row")
            textarea.form-control(name="comments_"+rowCnt id="comments_"+rowCnt style="height:36px")
        td(scope="row")
            button.close(type="button" aria-label="Close"  onclick='hideMasterEntryRow(\'deadline-master\', \'' + id + '\')', id = id + '_close')
                span(aria-hidden="true") &times;


